.blog2-links-container-c-link
  font-weight: 500
  font-size: 13px
  line-height: 20px
  color: black

.blog2-links-container-c-link-active
  color: #469EDC

.blog2-links-container-c
  display: flex
  flex-direction: column
  margin-right: 72px

.blog2-links-container
  display: flex
  flex-direction: row
  margin-top: 48px
  @media screen and (max-width: $tablet)
    display: none

.blog2-grid
  margin-top: 56px
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-template-rows: repeat(3 , 258px)
  grid-template-areas: "g1 g1 g1" "g2 g3 g4" "g5 g3 g6"
  gap: 32px
  @media screen and (max-width: $tablet)
    margin-top: 24px
    display: grid
    grid-template-columns: repeat(9, 1fr)
    grid-template-rows: repeat(4, 304px)
    gap: 12px
    grid-template-areas: "g1 g1 g1 g1 g1 g1 g1 g1 g1" "g2 g2 g2 g2 g2 g3 g3 g3 g3" "g4 g4 g4 g4 g5 g5 g5 g5 g5" "g6 g6 g6 g6 g6 g6 g6 g6 g6"
  @media screen and (max-width: $phone)
    grid-template-columns: 1fr
    grid-template-rows: repeat(6, 304px)
    grid-template-areas: "." "." "." "." "." "."
  .program-card
    width: 100%
    height: 100%
    @media screen and (max-width: $phone)
      grid-area: unset !important
  .program-card:nth-child(1)
    grid-area: g1
  .program-card:nth-child(2)
    grid-area: g2
    border: 1px solid #469EDC
    background: none
    .program-card-gradient
      background: none
    .program-card-info-subtitle, .program-card-info-title
      color: #469EDC
    .program-card-seemore
      color: #469EDC
      border-color: #469EDC

  .program-card:nth-child(3)
    grid-area: g3
  .program-card:nth-child(4)
    grid-area: g4
  .program-card:nth-child(5)
    grid-area: g5
  .program-card:nth-child(6)
    grid-area: g6
    background: none
    border: 1px solid #469EDC
    .program-card-gradient
      background: none
    .program-card-info-subtitle, .program-card-info-title
      color: #469EDC
    .program-card-seemore
      color: #469EDC
      border-color: #469EDC

.blog2-wrapper
  .top-buttons-main
    opacity: 0


.blog1-articles
  margin-top: 48px
  margin-bottom: 48px

.blog1-articles-container
  display: grid
  grid-template-columns: repeat(3 , 1fr)
  grid-column-gap: 33px
  grid-template-rows: 258px
  margin-top: 48px
  @media screen and (max-width: $tablet)
    display: flex
    flex-direction: row
    overflow-x: scroll
    margin-top: 24px
  .program-card
    height: 100%
    width: 100%
    @media screen and (max-width: $tablet)
      width: 250px
      height: 370px
      flex-shrink: 0

.blog1-articles-container::-webkit-scrollbar
  display: none

.blog1-wrapper
  .merch-grid-container
    padding-top: 48px


.blog1-article
  position: relative
  height: 500px
  @media screen and (max-width: $tablet)
    height: auto
  .blog1-article-text-img
    float: right
    margin-bottom: 16px
    @media screen and (max-width: $tablet)
      float: none
      order: 4
      width: 100%
      height: 250px
      object-fit: cover
      margin-top: 36px

  p
    margin-top: 24px
    @media screen and (max-width: $tablet)
      order: 5
  p.blog1-article-text-firts
    @media screen and (max-width: $tablet)
      order: 3
  .blog1-article-text
    float: left
    font-weight: 500
    font-size: 15px
    line-height: 20px
    @media screen and (max-width: $tablet)
      display: flex
      flex-direction: column
    .pslider-container
      margin-top: 48px
      margin-bottom: 56px
      order: 7
.blog1-article-text-links
  display: flex
  flex-direction: row
  @media screen and (max-width: $tablet)
    order: 1
    padding-top: 24px

.blog1-article-text-heading
  font-weight: 800
  font-size: 32px
  line-height: 32px
  color: #469EDC
  margin-bottom: 36px
  margin-top: 40px
  @media screen and (max-width: $tablet)
    order: 2
    margin-top: 24px
    font-size: 22px
    margin-bottom: 0

.blog1-article-text-grid
  display: grid
  grid-template-columns: repeat(3 , 1fr)
  grid-template-rows: auto auto
  margin-top: 48px
  order: 6
  img
    width: 100%
  @media screen and (max-width: $tablet)
    grid-template-columns: repeat(2, 1fr)
  @media screen and (max-width: $phone)
    display: none