
.k-input
    width: 100%
    border: none
    border-bottom: 1px solid #F5F6FA
    background-color: transparent
    font-size: 15px
    line-height: 20px
    ::placeholder 
        color: inherit

.k-input:focus::placeholder
    color: transparent
.k-select
    @extend .k-input
    appearance: none
    background-image: url('../img/icon/chevron.svg')
    background-position: center right
    background-repeat: no-repeat
    cursor: pointer
    font-weight: 500

    option[disabled]
        display: none

.k-datepicker
    @extend .k-select