.kfc-text
  font-weight: 500
  font-size: 15px
  line-height: 20px
  margin-top: 48px
  padding-bottom: 12px

.program-roadmap.kfc-roadmap
  .program-roadmap-grid-hr-day
    background-image: url("./../img/icon/frost.svg")
    background-repeat: no-repeat
    background-position: center
    width: 24px
    height: 24px
    margin-left: 25px
    margin-right: 25px
    @media screen and (max-width: $tablet)
      display: none

.kfc-roadmap-link
  font-size: 15px
  line-height: 20px
  text-decoration-line: underline
  color: #212946
  text-align: center
  width: 100%
  display: block
  @media screen and (max-width: $tablet)
    margin-top: 36px


.kfc-slider
  margin-top: 48px
  .bluebutton
    margin-top: 24px
    margin-right:  auto
    margin-left: auto
    width: fit-content
.kfc-slider-container::-webkit-scrollbar
  display: none
.kfc-slider-container
  display: grid
  grid-template-columns: repeat(4 , 1fr)
  gap: 12px
  margin-top: 24px
  @media screen and (max-width: $tablet)
    display: flex
    flex-direction: row
    overflow-x: scroll
  .program-card
    width: 100%
    @media screen and (max-width: $tablet)
      width: 251px
      flex-shrink: 0

.wrapper.header-wrapper.kfc-header
  @media screen and (max-width: $phone)
    margin-bottom: 230px
  .header-text2
    font-weight: 800
    font-size: 32px
    margin-top: 48px
    margin-bottom: 164px
    @media screen and (max-width: $tablet)
      margin-bottom: 96px
    @media screen and (max-width: $phone)
      margin-top: 115px
      margin-bottom: -36px

.kfc2-slider-control
  display: flex
  flex-direction: row
  justify-content: flex-end
  margin-top: 48px
  width: 100%

.kfc2-slider-container
  display: flex
  flex-direction: row
  margin-top: 24px
  overflow-x: scroll
  @media screen and (max-width: $tablet)
    margin-top: 0

.kfc2-slider-container::-webkit-scrollbar
  display: none

.kfc2-slider-container-element
  display: flex
  flex-direction: column
  width: 268px
  margin-right: 24px
  flex-shrink: 0
  @media screen and (max-width: $tablet)
    margin-right: 12px
    width: 251px


.kfc2-slider-container-element-photo
  width: 100%
  height: auto
  border-radius: 5px
.kfc2-slider-container-element-title
  font-weight: 800
  font-size: 18px
  line-height: 18px
  margin-top: 12px
  margin-bottom: 12px
.kfc2-slider-container-element-subtitle
  font-weight: normal
  font-size: 15px
  line-height: 20px

.kfc2-slider-container-element:first-child
  margin-left: 128px
  @media screen and (min-width: 1400px )
    margin-left: calc((100% - 1145px )/ 2)
  @media screen and (max-width: $laptop)
    margin-left: 21px

.kfc2-links
  display: grid
  grid-template-columns: repeat(2 , 1fr)
  grid-template-rows: repeat(1, 165px)
  gap: 21px
  margin-top: 48px
  @media screen and (max-width: $phone)
    grid-template-columns: 1fr
    grid-template-rows: repeat(2 , 165px)
.kfc2-links-element
  width: 100%
  height: 100%
  background: url("./../img/photo/kfc3.png")
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  position: relative
  border-radius: 5px

.kfc2-links-element-text
  position: absolute
  font-weight: 500
  font-size: 18px
  line-height: 22px
  background: #FF7B47
  border-radius: 0px 50px 50px 5px
  bottom: 0
  left: 0
  color: white
  padding-left: 12px
  padding-bottom: 8px
  padding-top: 8px
  padding-right: 16px
  @media screen and (max-width: $tablet)
    font-size: 13px
    padding-left: 12px
    padding-right: 16px


