.lk-h
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: flex-end
  margin-top: -64px
  @media screen and (max-width: $tablet)
    flex-direction: column-reverse
    margin-top: 0
    align-items: center
    padding-top: 24px

.lk-h-bonus
  background: #469EDC
  border-radius: 5px
  width: 223px
  height: 97px
  display: flex
  flex-direction: column
  align-items: center
  @media screen and (max-width: $tablet)
    width: 100%
  @media screen and (max-width: $phone)
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 2fr 1fr
    grid-template-areas: "num link" "bonus link"
    height: 74px

.lk-h-bonus-num
  font-weight: 800
  font-size: 26px
  line-height: 39px
  color: #FFFFFF
  margin-top: 12px
  grid-area: num
  @media screen and (max-width: $phone)
    text-align: center
    margin-top: 8px
.lk-h-bonus-text
  font-weight: 500
  font-size: 13px
  line-height: 19px
  color: #FFFFFF
  grid-area: bonus
  margin-top: -4px
  @media screen and (max-width: $phone)
    text-align: center
    margin-bottom: 8px

.lk-h-bonus-link
  font-weight: 500
  font-size: 10px
  line-height: 14px
  text-decoration-line: underline
  color: rgba(255, 255, 255, 0.5)
  margin-top: 6px
  grid-area: link
  @media screen and (max-width: $tablet)
    width: 100%
    text-align: right
    padding-right: 13px
  @media screen and (max-width: $phone)
    text-align: left
    margin-top: 12px

.lk-h-buttons
  margin-bottom: 8px
  @media screen and (max-width: $tablet)
    width: 100%
    margin-top: 24px

.lk-h-buttons-btn
  padding-top: 6px
  padding-bottom: 6px
  padding-left: 12px
  padding-right: 12px
  border: 1px solid #469EDC
  border-radius: 30px
  font-weight: 500
  font-size: 10px
  line-height: 14px
  color: #469EDC
  margin-right: 12px
  @media screen and (max-width: $tablet)
    margin-right: 6px
    display: inline-block
    margin-bottom: 6px

.lk-h-buttons-btn-active
  background: #469EDC
  color: #FFFFFF

.lk1-forms-label
  font-weight: 500
  font-size: 15px
  line-height: 20px
  margin-top: 48px

.lk1-forms-grid
  margin-top: 32px
  gap: 32px 8px
  display: grid
  grid-template-columns: repeat(3 , 190px)
  @media screen and (max-width: $tablet)
    grid-template-columns: repeat(3 , 1fr)
  @media screen and (max-width: $phone)
    grid-template-columns: repeat(1 , 1fr)



.lk1-forms-row-c:last-child
  @media screen and (max-width: $tablet)
    display: none

.lk1-forms-grid-el
  outline: none
  background: none

  border-top: none
  border-right: none
  border-left: none
  padding-bottom: 2px
  border-bottom: 1px solid rgba(186, 190, 202, 0.3)
  width: 100%

.lk1-forms-grid-el::placeholder
  font-size: 13px
  color: $black
  line-height: 20px

.lk1-forms-row-c-label
  font-weight: 500
  font-size: 15px
  line-height: 20px
  margin-bottom: 16px

.lk1-forms-row
  display: flex
  flex-direction: row
  margin-top: 48px
  margin-bottom: 48px

.lk1-forms-row-c
  margin-right: 64px

.lk1-forms-row-c-select
  display: flex
  flex-direction: row
  justify-content: space-between
  width: 190px
  align-items: center
  border-bottom: 1px solid rgba(186, 190, 202, 0.3)
  padding-bottom: 4px
  font-size: 13px
  line-height: 20px

.lk1-forms
  padding-bottom: 64px
  @media screen and (max-width: $tablet)
    padding-bottom: 48px

.lk1-forms-row-c-link
  display: flex
  flex-direction: row
  align-items: center
  a
    font-weight: 500
    font-size: 15px
    line-height: 20px
    margin-left: 25px
    color: $black

.lk2-nextpr
  .blueheading
    margin-top: 48px

.lk2-nextpr-element
  display: flex
  flex-direction: row
  box-shadow: 0px 4px 10px rgba(186, 190, 202, 0.3)
  border-radius: 5px
  margin-top: 32px
  @media screen and (max-width: $phone)
    flex-direction: column


.lk2-nextpr-element-img
  background-image: url("./../img/photo/lk.png")
  background-repeat: no-repeat
  background-size: cover
  width: 300px
  height: auto
  border-radius: 5px 0 0 5px
  @media screen and (max-width: $tablet)
    width: 156px
  @media screen and (max-width: $phone)
    width: 100%
    height: 90px
    background-position: center center

.lk2-nextpr-element-info
  padding-left: 32px
  padding-right: 32px
  padding-bottom: 32px
  flex-grow: 1
  padding-top: 24px
  position: relative
  @media screen and (max-width: $tablet)
    padding-bottom: 12px
  @media screen and (max-width: $phone)
    padding-left: 16px
    padding-right: 16px
    padding-top: 12px
    padding-bottom: 48px

.lk2-nextpr-element-info-title
  font-weight: 500
  font-size: 20px

.lk2-nextpr-element-info-r1
  display: flex
  flex-direction: row
  margin-top: 8px
  justify-content: space-between
  align-items: center
  @media screen and (max-width: $tablet)
    flex-direction: column
    justify-content: end

.lk2-nextpr-element-info-r1-price
  font-weight: 800
  font-size: 26px
  line-height: 39px
  color: #469EDC
  @media screen and (max-width: $tablet)
    width: 100%

.lk2-nextpr-element-info-r1-text
  font-weight: 500
  font-size: 15px
  line-height: 20px
  max-width: 250px
  padding-bottom: 12px
  @media screen and (max-width: $tablet)
    width: 100%
    margin-right: auto

.lk2-nextpr-element-info-r2
  display: flex
  flex-direction: row
  justify-content: space-between
  margin-top: 25px
  @media screen and (max-width: $tablet)
    flex-direction: column-reverse
  @media screen and (max-width: $phone)
    margin-top: 8px

.lk2-nextpr-element-info-r2-c
  @media screen and (max-width: $tablet)
    margin-bottom: 18px
  @media screen and (max-width: $phone)
    .lk2-nextpr-element-info-r2-c-r
      margin-bottom: 12px

.lk2-nextpr-element-info-r2-c-r
  display: flex
  flex-direction: row
  align-items: center
  font-weight: 500
  font-size: 15px
  line-height: 20px
  @media screen and (max-width: $phone)
    flex-direction: column
    align-items: unset

.lk2-nextpr-element-info-r2-c-r-key
  font-weight: 200
  margin-right: 4px

.lk2-nextpr-element-info-r2-c-payment
  @media screen and (max-width: $phone)
    padding-bottom: 36px
    border-bottom: 1px solid #F5F6FA
    .lk2-nextpr-element-info-r2-c-r
      margin-bottom: 0

.lk2-nextpr-element-info-delete
  position: absolute
  top: 30px
  right: 30px
  @media screen and (max-width: $phone)
    bottom: 16px
    right: 16px
    top: unset

.lk2-table
  margin-bottom: 85px
  @media screen and (max-width: $tablet)
    margin-bottom: 64px
  @media screen and (max-width: $phone)
    margin-bottom: 48px


.lk2-table-title
  font-weight: 500
  font-size: 22px
  line-height: 32px
  margin-top: 64px
  margin-bottom: 24px

.lk2-table-container-row
  display: flex
  flex-direction: column
  @media screen and (max-width: $phone)
    padding-top: 0
    padding-left: 12px
    padding-right: 12px
    padding-bottom: 4px

.lk2-table-container-row-h
  display: grid
  grid-template-columns: 1fr 4fr 1fr 1fr 1fr
  padding-bottom: 24px
  font-weight: 500
  font-size: 15px
  line-height: 20px
  padding-top: 25px
  grid-row-gap: 40px
  @media screen and (max-width: $tablet)
    grid-template-columns: repeat(5, 1fr)
  @media screen and (max-width: $phone)
    grid-template-areas: "date datev" "info info" "infov infov" "bonusinc bonussp" "bonusincv bonusspv" "payment paymentv"
    grid-template-columns: 1fr 1fr !important
    grid-template-rows: 20px 20px 100px 40px 20px 20px !important
    grid-row-gap: 12px
.lk2-table-container-row-info-cell-text
  padding-right: 25%
  @media screen and (max-width: $tablet)
    padding-right: 4px
.lk2-table-container-row-info-cell
  padding-top: 24px
  border-top: 1px solid #F5F6FA
  @media screen and (max-width: $phone)
    padding-top: 0
    border-top: 0
    font-weight: 300
.lk2-table-container-row-h-cell
  @media screen and (max-width: $tablet)
    width: 83px

@media screen and (max-width: $phone)
  .lk2-table-container-row-h-cell-date
    grid-area: date
  .lk2-table-container-row-h-cell-datev
    grid-area: datev
  .lk2-table-container-row-h-cell-info
    grid-area: info
  .lk2-table-container-row-h-cell-infov
    grid-area: infov
  .lk2-table-container-row-h-cell-bonusinc
    grid-area: bonusinc
  .lk2-table-container-row-h-cell-bonussp
    grid-area: bonussp
  .lk2-table-container-row-h-cell-bonusincv
    grid-area: bonusincv
  .lk2-table-container-row-h-cell-bonusspv
    grid-area: bonusspv
  .lk2-table-container-row-h-cell-payment
    grid-area: payment
  .lk2-table-container-row-h-cell-paymentv
    grid-area: paymentv


.lk2-table-container-row:nth-child(2n)
  @media screen and (max-width: $phone)
    background: #F5F6FA

.lk2-table-container-row:not(:first-child)
  .lk2-table-container-row-h-cell
    display: none
  @media screen and (max-width: $phone)
    .lk2-table-container-row-h-cell
      display: initial



.lk3-table
  display: flex
  flex-direction: column
  margin-top: 36px
  @media screen and (max-width: $tablet)
    margin-top: 0

.lk3-table-r
  display: flex
  flex-direction: row
  padding-top: 25px
  padding-bottom: 25px

  @media screen and (max-width: $tablet)
    flex-direction: column

.lk3-table-r:not(:last-child)
  border-bottom:  1px solid #F5F6FA

.lk3-table-r-info.lk3-table-r-info-photo
  display: flex
  flex-direction: row
  justify-content: space-between
  flex-grow: 1
  align-items: center
  @media screen and (max-width: $phone)
    flex-direction: column

.lk3-table-r-date
  margin-right: 48px
  font-weight: 500
  font-size: 15px
  line-height: 20px
  @media screen and (max-width: $tablet)
    margin-bottom: 12px

.lk3-table-r-info-text
  font-weight: 500
  font-size: 15px
  line-height: 20px
  max-width: 420px
  @media screen and (max-width: $tablet)
    width: 100%
  @media screen and (max-width: $phone)
    margin-bottom: 24px


.lk3-table-r-info-button
  font-weight: 500
  font-size: 13px
  line-height: 19px
  text-transform: uppercase
  color: #469EDC
  border: 1px solid #469EDC
  box-sizing: border-box
  border-radius: 30px
  width: 221px
  height: 37px
  display: flex
  justify-content: center
  align-items: center

.lk3-table-r-info.lk3-table-r-info-movie
  .mp-movies-slide
    width: 100%
    margin-top: 24px
  @media screen and (max-width: $tablet)
    .mp-movies-slide-gradient
      padding-left: 32px
      padding-right: 32px
      padding-top: 48px
    .mp-moviews-slide-h
      max-width: unset
    .mp-moviews-slide-p
      max-width: unset
  @media screen and (max-width: $phone)
    .mp-movies-slide
      height: 421px
    .mp-movies-slide-gradient
      padding-left: 16px
      padding-right: 16px
      padding-top: 16px
    .mp-moviews-slide-h
      max-width: unset
    .mp-moviews-slide-p
      overflow: unset
      max-width: unset


.mp-ig.lk3-ig
  @media screen and (max-width: $tablet)
    padding-top: 24px
  .mp-ig-h
    width: 100%
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    margin-bottom: 56px
    @media screen and (max-width: $tablet)
      display: flex
      flex-direction: column
      margin-bottom: 24px
  .mp-ig-h-text
    font-weight: 500
    font-size: 22px
    line-height: 32px
    max-width: 394px
    text-align: left
    margin-right: 48px
    @media screen and (max-width: $tablet)
      margin-right: auto
      margin-left: auto
      text-align: center
      font-weight: 500
      font-size: 22px
      line-height: 24px
      margin-bottom: 24px

  .mp-ig-sm
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center

  .mp-ig-sm-link
    margin-right: 21px

.mp-ig-grid.lk3-g
  margin-bottom: 48px