.program-reviews
  width: 100%
  .mp-reviews-slider-element
    width: 98%
    @media screen and (max-width: $laptop)
      margin: 0
    @media screen and (max-width: $tablet)
      width: 423px
      margin: 2px 20px 2px 2px
    @media screen and (max-width: $phone)
      width: 251px

  .slider-container
    @media screen and (max-width: $laptop)
      padding-left: 0px