!= partial("/_tmp/navbar")

.blog2-wrapper
    != partial("/_tmp/path-btn")


    .wrapper
        .blog2-links
            .blueheading Блог
            .blog2-links-container
                .blog2-links-container-c
                    a.blog2-links-container-c-link.blog2-links-container-c-link-active(href="#") Все
                    a.blog2-links-container-c-link(href="#") Сноуборд (34)
                    a.blog2-links-container-c-link(href="#") Сноуборд (34)
                    a.blog2-links-container-c-link(href="#") Сноуборд (34)
                .blog2-links-container-c
                    a.blog2-links-container-c-link(href="#") Сноуборд (34)
                    a.blog2-links-container-c-link(href="#") Сноуборд (34)
                    a.blog2-links-container-c-link(href="#") Сноуборд (34)
                    a.blog2-links-container-c-link(href="#") Сноуборд (34)
                .blog2-links-container-c
                    a.blog2-links-container-c-link(href="#") Сноуборд (34)
                    a.blog2-links-container-c-link(href="#") Сноуборд (34)
                    a.blog2-links-container-c-link(href="#") Сноуборд (34)
                    a.blog2-links-container-c-link(href="#") Сноуборд (34)
                .blog2-links-container-c
                    a.blog2-links-container-c-link(href="#") Сноуборд (34)
                    a.blog2-links-container-c-link(href="#") Сноуборд (34)
                    a.blog2-links-container-c-link(href="#") Сноуборд (34)
                    a.blog2-links-container-c-link(href="#") Сноуборд (34)
.wrapper
    .blog2-grid
        != partial("/_tmp/program-card")
        != partial("/_tmp/program-card")
        != partial("/_tmp/program-card")
        != partial("/_tmp/program-card")
        != partial("/_tmp/program-card")
        != partial("/_tmp/program-card")

!= partial("/_tmp/movies")
div(style="height: 48px")




!= partial("/_tmp/footer")