.devpage
    a(href="./elements/bonus-popup.html") На что можно потратить бонусы
    a(href="./elements/paid.html") Оплачено
    a(href="./elements/cart-popup.html") После корзины
    a(href="./elements/cart-popup2.html") После корзины 2
    a(href="./elements/sms-code.html") СМС код
    a(href="./elements/cart.html") Корзина
    a(href="./elements/reservation.html") Бронь
    a(href="./elements/reservation2.html") Бронь 2
    a(href="./elements/program-checkout.html") Оформление программы