!= partial("/_tmp/navbar")

.food-wrapper
    != partial("/_tmp/path")
    != partial("/_tmp/header")
    .wrapper

        .food-filter
            .prall-filters-select
                select.k-select(name="duration")
                    option(disabled selected) Продолжительность
                    option(value="value1") Значение 1
                    option(value="value2") Значение 2
            .prall-filters-select
                select.k-select(name="duration")
                    option(disabled selected) Продолжительность
                    option(value="value1") Значение 1
                    option(value="value2") Значение 2
        .merch-grid-container
            .prall-programs-grid-heading
                .blueheading Все блюда

            .merch-grid
                != partial("/_tmp/merch-element")
                != partial("/_tmp/merch-element")
                != partial("/_tmp/merch-element")
                != partial("/_tmp/merch-element")
                != partial("/_tmp/merch-element")
                != partial("/_tmp/merch-element")
                != partial("/_tmp/merch-element")
                .food-element-info
                    .prall-programs-grid-container-custom-ico
                        svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M6.53515 3.25C5.95003 3.25 5.40363 3.54243 5.07906 4.02927L1.48984 9.41311C1.27011 9.74271 1.24383 10.1648 1.42098 10.5191C3.38509 14.4473 6.11464 17.9432 9.4492 20.8014L11.1999 22.3021C11.6603 22.6967 12.3396 22.6967 12.8 22.3021L14.5507 20.8014C17.8853 17.9432 20.6148 14.4473 22.5789 10.5191C22.7561 10.1648 22.7298 9.74271 22.5101 9.41311L18.9209 4.02927C18.5963 3.54243 18.0499 3.25 17.4648 3.25H6.53515ZM6.32714 4.86132C6.3735 4.79178 6.45156 4.75 6.53515 4.75H8.87496L6.95984 9.34629C6.91573 9.45216 6.88243 9.56135 6.85999 9.67224C6.15616 9.61985 5.45293 9.55669 4.75054 9.48276L3.34483 9.33479L6.32714 4.86132ZM3.27862 10.8361C5.07202 14.1261 7.44018 17.0714 10.2732 19.5312L7.14772 11.1967C6.29538 11.1381 5.44384 11.064 4.59352 10.9745L3.27862 10.8361ZM8.78478 11.2902L12 19.864L15.2152 11.2902C13.0728 11.3876 10.9271 11.3876 8.78478 11.2902ZM16.8522 11.1967L13.7268 19.5312C16.5598 17.0714 18.9279 14.1261 20.7213 10.8361L19.4064 10.9745C18.5561 11.064 17.7046 11.1381 16.8522 11.1967ZM20.6551 9.33479L19.2494 9.48276C18.547 9.55669 17.8438 9.61985 17.1399 9.67224C17.1175 9.56135 17.0842 9.45216 17.0401 9.34629L15.125 4.75H17.4648C17.5484 4.75 17.6264 4.79178 17.6728 4.86133L20.6551 9.33479ZM15.5917 9.77005C13.1988 9.89432 10.8011 9.89432 8.40827 9.77005L10.5 4.75H13.5L15.5917 9.77005Z' fill='#469EDC')

                    .prall-programs-grid-container-custom-text Где попробовать?
                    a.prall-programs-grid-container-custom-link(href="#")
                        svg(width='92' height='20' viewBox='0 0 92 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M2.88 5.05V9.52H7.98V5.05H9.63V16H7.98V10.81H2.88V16H1.23V5.05H2.88ZM11.3345 16L15.2345 5.05H17.0345L20.9345 16H19.1645L18.2195 13.09H13.9895L13.0445 16H11.3345ZM14.3945 11.8H17.8145L16.1195 6.55H16.0895L14.3945 11.8ZM28.7491 5.05V9.85H28.7791L33.0991 5.05H35.0491L30.2491 10.3L35.1991 16H33.2491L28.7791 10.75H28.7491V16H27.0991V5.05H28.7491ZM36.1636 16L40.0636 5.05H41.8636L45.7636 16H43.9936L43.0486 13.09H38.8186L37.8736 16H36.1636ZM39.2236 11.8H42.6436L40.9486 6.55H40.9186L39.2236 11.8ZM49.1251 11.875V16H47.4751V5.125C48.5151 4.975 49.6151 4.9 50.7751 4.9C52.1551 4.9 53.2001 5.195 53.9101 5.785C54.6201 6.365 54.9751 7.195 54.9751 8.275C54.9751 10.725 53.5751 11.95 50.7751 11.95C50.2451 11.95 49.6951 11.925 49.1251 11.875ZM49.1251 10.54C49.6251 10.62 50.1251 10.66 50.6251 10.66C51.5051 10.66 52.1801 10.47 52.6501 10.09C53.1201 9.7 53.3551 9.145 53.3551 8.425C53.3551 7.705 53.1251 7.16 52.6651 6.79C52.2051 6.41 51.5251 6.22 50.6251 6.22C50.0551 6.22 49.5551 6.255 49.1251 6.325V10.54ZM56.314 5.05H64.414V6.43H61.189V16H59.539V6.43H56.314V5.05ZM67.7634 5.05L70.5684 11.275H70.5984L73.4034 5.05H75.2784L71.6034 12.7C70.9534 14.04 70.2384 14.95 69.4584 15.43C68.6884 15.91 67.5634 16.15 66.0834 16.15L65.9784 14.8C67.1284 14.8 67.9484 14.67 68.4384 14.41C68.9284 14.15 69.3584 13.63 69.7284 12.85L65.8284 5.05H67.7634Z' fill='#469EDC')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M86.1774 15.7687C85.9664 15.5906 85.9398 15.2751 86.118 15.0641L90.0201 10.4433L86.118 5.82248C85.9398 5.6115 85.9664 5.29604 86.1774 5.11788C86.3884 4.93971 86.7039 4.96632 86.882 5.1773L91.0565 10.1207C91.2138 10.307 91.2138 10.5796 91.0565 10.7659L86.882 15.7093C86.7039 15.9203 86.3884 15.9469 86.1774 15.7687Z' fill='#469EDC')

            .bluebutton ПОСМОТРЕТЬ ЕЩЕ
!= partial("/_tmp/footer")