!= partial("/_tmp/navbar")

.food-item-wrapper
    != partial("/_tmp/path")
    .item-mobilefixed
        .bluebutton ДОБАВИТЬ В КОРЗИНУ
    .wrapper
        .merch-item
            img.food-item-img(src="./img/photo/food-item.png")
            .merch-item-info
                .merch-item-info-subtitle Футболка
                .merch-item-info-title Родился на Камчатке
                .merch-item-info-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                .food-item-list
                    .food-item-list-label Условия заказа:
                    ul.food-item-list-el
                        li · Заказы принимаем с 10:00 до 18:00
                        li · Самовывоз и доставка еды осуществляется  с 11:00 до 21:00 ·
                        li · Минимальная сумма заказа 500 р.
                .food-item-list
                    .food-item-list-label Самовывоз:  г.
                    ul.food-item-list-el · Петропавловск-Камчатский, ул. Авачинская д. 15






                .merch-item-info-discount
                    svg(width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M5.5 11C8.53757 11 11 8.53757 11 5.5C11 2.46243 8.53757 0 5.5 0C2.46243 0 0 2.46243 0 5.5C0 8.53757 2.46243 11 5.5 11ZM6.06649 1.86995H4.94779L5.12599 6.61205H5.87839L6.06649 1.86995ZM5.04679 8.68115C5.17219 8.79995 5.32729 8.85935 5.51209 8.85935C5.69029 8.85935 5.83879 8.79995 5.95759 8.68115C6.08299 8.55575 6.14569 8.40395 6.14569 8.22575C6.14569 8.04755 6.08629 7.89905 5.96749 7.78025C5.84869 7.65485 5.69689 7.59215 5.51209 7.59215C5.32729 7.59215 5.17219 7.65485 5.04679 7.78025C4.92139 7.89905 4.85869 8.04755 4.85869 8.22575C4.85869 8.40395 4.92139 8.55575 5.04679 8.68115Z' fill='#BABECA')
                    | 3000 Р
                .merch-item-info-price 2 000 р.
                .merch-item-info-bonus начислим 100 бонусов
                .bluebutton ДОБАВИТЬ В КОРЗИНУ





        .merch-grid-container
            .blueheading Похожие товары

            .merch-grid
                != partial("/_tmp/merch-element")
                != partial("/_tmp/merch-element")
                != partial("/_tmp/merch-element")
                != partial("/_tmp/merch-element")

!= partial("/_tmp/footer")