.devpage
    img(src="./img/logo.svg")
    a(href="./main.html") Главная страница
    a(href="./program.html").devpage-space Программа
    a(href="./programs-all.html") Программы-Общая
    a(href="./residence.html").devpage-space Проживание
    a(href="./residence-house.html") Проживание-Дом
    a(href="./merch.html").devpage-space Мерч
    a(href="./merch-filter.html") Мерч фильтр
    a(href="./merch-item.html") Мерч товар
    a(href="./lk1.html").devpage-space Личный кабинет 1
    a(href="./lk2.html") Личный кабинет 2
    a(href="./lk3.html") Личный кабинет 3
    a(href="./food.html").devpage-space Еда
    a(href="./food-item.html") Еда страница
    a(href="./rent.html").devpage-space Прокат
    a(href="./rent-item.html") Прокат страница
    a(href="./KFC1.html").devpage-space KFC 1
    a(href="./KFC2.html") KFC 2
    a(href="./kfc-school.html") Школа KFC
    a(href="./services.html").devpage-space Услуги
    a(href="./team.html") Наша команда

    a(href="./blog1.html").devpage-space Блог 1
    a(href="./blog2.html") Блог 2
    a(href="./blog3.html") Блог 3