.devpage
    img(src="./img/logo.svg")
    a(href="./main.html") Главная страница
    a(href="./program.html") Программа
    a(href="./programs-all.html") Программы-Общая
    a(href="./residence.html") Проживание
    a(href="./residence-house.html") Проживание-Дом
    a(href="./merch.html") Мерч
    a(href="./merch-filter.html") Мерч фильтр
    a(href="./merch-item.html") Мерч товар
    a(href="./lk1.html") Личный кабинет 1
    a(href="./lk2.html") Личный кабинет 2
    a(href="./lk3.html") Личный кабинет 3