!= partial("/_tmp/navbar")

!= partial("/_tmp/path")
.wrapper
    .lk-h
        .lk-h-buttons
            a.lk-h-buttons-btn.lk-h-buttons-btn-active(href="#") ПРОФИЛЬ
            a.lk-h-buttons-btn(href="#") ПРОФИЛЬ
            a.lk-h-buttons-btn(href="#") ПРОФИЛЬ
        .lk-h-bonus
            .lk-h-bonus-num 16 780
            .lk-h-bonus-text бонусов
            .lk-h-bonus-link На что можно потратить бонусы?
    .lk1-forms
        .lk1-forms-label Контактная информация:
        .lk1-forms-grid
            input.lk1-forms-grid-el(placeholder="ФАМИЛИЯ").k-input
            input.lk1-forms-grid-el(placeholder="ФАМИЛИЯ").k-input
            input.lk1-forms-grid-el(placeholder="ФАМИЛИЯ").k-input
            input.lk1-forms-grid-el(placeholder="ФАМИЛИЯ").k-input
            input.lk1-forms-grid-el(placeholder="ФАМИЛИЯ").k-input
            input.lk1-forms-grid-el(placeholder="ФАМИЛИЯ").k-input
        .lk1-forms-row
            .lk1-forms-row-c
                .lk1-forms-row-c-label Социальные сети:
                .lk1-forms-row-c-link
                    svg(width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.6598 3.53492C10.6598 3.09695 11.0148 2.7419 11.4528 2.7419C11.8908 2.7419 12.2458 3.09695 12.2458 3.53492C12.2458 3.97289 11.8908 4.32794 11.4528 4.32794C11.0148 4.32794 10.6598 3.97289 10.6598 3.53492Z' fill='#212946')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M7.48772 3.73317C5.40736 3.73317 3.72089 5.41964 3.72089 7.5C3.72089 9.58036 5.40736 11.2668 7.48772 11.2668C9.56808 11.2668 11.2545 9.58036 11.2545 7.5C11.2545 5.41964 9.56808 3.73317 7.48772 3.73317ZM4.91042 7.5C4.91042 6.0766 6.06431 4.9227 7.48772 4.9227C8.91112 4.9227 10.065 6.0766 10.065 7.5C10.065 8.92341 8.91112 10.0773 7.48772 10.0773C6.06431 10.0773 4.91042 8.92341 4.91042 7.5Z' fill='#212946')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M11.6576 0.230435C8.90855 -0.0768117 6.06691 -0.0768117 3.31786 0.230435C1.72226 0.408766 0.434142 1.6657 0.246551 3.2696C-0.0821838 6.08029 -0.0821838 8.91971 0.246551 11.7304C0.434142 13.3343 1.72227 14.5912 3.31786 14.7696C6.06691 15.0768 8.90855 15.0768 11.6576 14.7696C13.2532 14.5912 14.5413 13.3343 14.7289 11.7304C15.0576 8.91971 15.0576 6.08029 14.7289 3.2696C14.5413 1.6657 13.2532 0.408766 11.6576 0.230435ZM3.44998 1.4126C6.11122 1.11517 8.86423 1.11517 11.5255 1.4126C12.5803 1.53049 13.4252 2.36285 13.5474 3.40779C13.8654 6.12666 13.8654 8.87334 13.5474 11.5922C13.4252 12.6372 12.5803 13.4695 11.5255 13.5874C8.86423 13.8848 6.11122 13.8848 3.44998 13.5874C2.39519 13.4695 1.55024 12.6372 1.42802 11.5922C1.11002 8.87334 1.11002 6.12666 1.42802 3.40779C1.55024 2.36285 2.39519 1.53049 3.44998 1.4126Z' fill='#212946')
                    a(href="#") @name_name 
            .lk1-forms-row-c
                .lk1-forms-row-c-label На чем катаешься:
                .lk1-forms-row-c-select
                    select.k-select(name="sort")
                        option(disabled selected) Сортировка
                        option(value="value1") Значение 1
                        option(value="value2") Значение 2
        .lk1-forms-label Контактная информация:
        .lk1-forms-grid
            input.lk1-forms-grid-el(placeholder="ФАМИЛИЯ").k-input
            input.lk1-forms-grid-el(placeholder="ФАМИЛИЯ").k-input
            input.lk1-forms-grid-el(placeholder="ФАМИЛИЯ").k-input
            input.lk1-forms-grid-el(placeholder="ФАМИЛИЯ").k-input
            input.lk1-forms-grid-el(placeholder="ФАМИЛИЯ").k-input
            input.lk1-forms-grid-el(placeholder="ФАМИЛИЯ").k-input

!= partial("/_tmp/footer")