!= partial("/_tmp/navbar")

.mp-header
    .mp-header-shadow
        .wrapper
            .mp-header-container
                .mp-header-container-h Выбирайте и покупайте наши программы онлайн
                form.mp-header-container-form(autocomplete="off")
                    .mp-header-container-form-select
                        input.k-datepicker(name="date" placeholder="Дата")
                    .mp-header-container-form-select
                        select.k-select(name="program")
                            option(disabled selected) Программа
                            option(value="value1") Значение 1
                            option(value="value2") Значение 2
                    .mp-header-container-form-select
                        select.k-select(name="duration")
                            option(disabled selected) Продолжительность
                            option(value="value1") Значение 1
                            option(value="value2") Значение 2
                    button(type="submit").mp-header-container-form-button.bluebutton ПОДОБРАТЬ

.mp-programs
    .wrapper
        .slider-heading
            .blueheading Наши программы
        .mp-programs-container.slider-container
            != partial("/_tmp/program-card")
            != partial("/_tmp/program-card")
            != partial("/_tmp/program-card")
            != partial("/_tmp/program-card")
            != partial("/_tmp/program-card")
            != partial("/_tmp/program-card")
            != partial("/_tmp/program-card")
            != partial("/_tmp/program-card")
        .bluebutton-wrapper
            a.bluebutton(href="#") посмотреть все программы

!= partial("/_tmp/movies")

.mp-blog
    .wrapper
        .slider-heading
            .blueheading Блог
            .slider-heading-controls
                button#blog-prev
                    img(src="./img/icon/slider-control.svg")
                button#blog-next
                    img(src="./img/icon/slider-control.svg")
        .mp-blog-container.slider-container#slider-blog
            .mp-blog-container-slide.mp-blog-container-slide--halved
                != partial("/_tmp/program-card")
                != partial("/_tmp/program-card")
            .mp-blog-container-slide.mp-blog-container-slide--full
                != partial("/_tmp/program-card")
            .mp-blog-container-slide.mp-blog-container-slide--halved
                != partial("/_tmp/program-card")
                != partial("/_tmp/program-card")
            .mp-blog-container-slide.mp-blog-container-slide--full
                != partial("/_tmp/program-card")
            .mp-blog-container-slide.mp-blog-container-slide--halved
                != partial("/_tmp/program-card")
                != partial("/_tmp/program-card")
            .mp-blog-container-slide.mp-blog-container-slide--full
                != partial("/_tmp/program-card")
        .bluebutton-wrapper.mp-blog-button
            .bluebutton перейти в блог

!= partial("/_tmp/reviews")

.wrapper
    .mp-kfcclub
        .mp-kfcclub-svgbg
            ul.mp-kfcclub-list
                .mp-kfcclub-list-h Вступайте в клуб KFC:
                li.mp-kfcclub-list-li скидки на программы и услуги
                li.mp-kfcclub-list-li подарки на ДР и многое другое

            a.mp-kfcclub-seemore(href="#")
                | ПОДРОБНЕЕ
                svg(width='7' height='14' viewBox='0 0 7 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(fill-rule='evenodd' clip-rule='evenodd' d='M0.864893 13.6162C0.653471 13.4386 0.626083 13.1232 0.803721 12.9117L5.72532 7.05413L0.803721 1.19651C0.626083 0.985084 0.65347 0.669688 0.864892 0.49205C1.07631 0.314412 1.39171 0.3418 1.56935 0.553222L6.7612 6.73248C6.91744 6.91845 6.91744 7.1898 6.7612 7.37577L1.56935 13.555C1.39171 13.7665 1.07631 13.7938 0.864893 13.6162Z' fill='#212946')

.wrapper
    .mp-ig
        .mp-ig-h
            .mp-ig-h-text Приезжайте к нам, на Камчатке
            .mp-ig-h-hashtag #дико_круто
        .mp-ig-link Мы в Instagram
            img(src="./img/icon/ig.svg")
        .mp-ig-grid
            img.mp-ig-grid-photo(src="./img/photo/ig-photo.png")
            img.mp-ig-grid-photo(src="./img/photo/ig-photo.png")
            img.mp-ig-grid-photo(src="./img/photo/ig-photo.png")
            img.mp-ig-grid-photo(src="./img/photo/ig-photo.png")
            img.mp-ig-grid-photo(src="./img/photo/ig-photo.png")
            img.mp-ig-grid-photo(src="./img/photo/ig-photo.png")

!= partial("/_tmp/house")

.mp-email
    .mp-email-text Будьте в курсе наших новостей
    .mp-email-form
        input.mp-email-form-input(placeholder="Ваш email")
        .mp-email-form-button.bluebutton ПОДПИСАТЬСЯ

!= partial("/_tmp/footer")