.mp-header
    .mp-header-shadow
        .wrapper
            .mp-header-container
                .mp-header-container-h Выбирайте и покупайте наши программы онлайн
                .mp-header-container-form
                    .mp-header-container-form-select
                        .mp-header-container-form-select-label Дата
                        img.mp-header-container-form-select-arrow(src="./img/icon/chevron.svg")
                    .mp-header-container-form-select
                        .mp-header-container-form-select-label Дата
                        img.mp-header-container-form-select-arrow(src="./img/icon/chevron.svg")
                    .mp-header-container-form-select
                        .mp-header-container-form-select-label Дата
                        img.mp-header-container-form-select-arrow(src="./img/icon/chevron.svg")
                    .mp-header-container-form-button.bluebutton ПОДОБРАТЬ
