.mp-header
    .mp-header-shadow
        .wrapper
            .mp-header-container
                .mp-header-container-h Выбирайте и покупайте наши программы онлайн
                .mp-header-container-form
                    .mp-header-container-form-select
                        .mp-header-container-form-select-label Дата
                        img.mp-header-container-form-select-arrow(src="./img/icon/chevron.svg")
                    .mp-header-container-form-select
                        .mp-header-container-form-select-label Дата
                        img.mp-header-container-form-select-arrow(src="./img/icon/chevron.svg")
                    .mp-header-container-form-select
                        .mp-header-container-form-select-label Дата
                        img.mp-header-container-form-select-arrow(src="./img/icon/chevron.svg")
                    .mp-header-container-form-button.bluebutton ПОДОБРАТЬ

.mp-programs
    .wrapper
        .slider-heading
            .blueheading Наши программы
        .mp-programs-container.slider-container
            != partial("/_tmp/program-card")
            != partial("/_tmp/program-card")
            != partial("/_tmp/program-card")
            != partial("/_tmp/program-card")
            != partial("/_tmp/program-card")
            != partial("/_tmp/program-card")
            != partial("/_tmp/program-card")
            != partial("/_tmp/program-card")
        .mp-programs-button.bluebutton посмотреть все программы

.mp-movies
    .wrapper
        .slider-heading
            .blueheading Наши фильмы о Камчатке
            .slider-heading-controls
                button
                    img(src="./img/icon/slider-control.svg")
                button
                    img(src="./img/icon/slider-control.svg")
    .slider-container.mp-movies-slider-container
        .mp-movies-slide
                .mp-movies-slide-gradient
                    .mp-moviews-slide-tag НОВИНКА
                    .mp-moviews-slide-h Во имя науки. Восхождение на Ичинский вулкан
                    .mp-moviews-slide-p В конце сентября 2020 года команда Kamchatka Freeride Community реализовали проект, идею которого вынашивали больше года. Гид — Женя Лысов прошёл по стропе в кратере действующего вулкана Горелый.
                    a.mp-moviews-slide-a(href="#") ПЕРЕЙТИ К ПРОСМОТРУ
                        img(src="./img/icon/orange-chevron.svg")
        .mp-movies-slide
                .mp-movies-slide-gradient
                    .mp-moviews-slide-tag НОВИНКА
                    .mp-moviews-slide-h Во имя науки. Восхождение на Ичинский вулкан
                    .mp-moviews-slide-p В конце сентября 2020 года команда Kamchatka Freeride Community реализовали проект, идею которого вынашивали больше года. Гид — Женя Лысов прошёл по стропе в кратере действующего вулкана Горелый.
                    a.mp-moviews-slide-a(href="#") ПЕРЕЙТИ К ПРОСМОТРУ
                        img(src="./img/icon/orange-chevron.svg")
        .mp-movies-slide
            .mp-movies-slide-gradient
                    .mp-moviews-slide-tag НОВИНКА
                    .mp-moviews-slide-h Во имя науки. Восхождение на Ичинский вулкан
                    .mp-moviews-slide-p В конце сентября 2020 года команда Kamchatka Freeride Community реализовали проект, идею которого вынашивали больше года. Гид — Женя Лысов прошёл по стропе в кратере действующего вулкана Горелый.
                    a.mp-moviews-slide-a(href="#") ПЕРЕЙТИ К ПРОСМОТРУ
                        img(src="./img/icon/orange-chevron.svg")




.mp-blog
    .wrapper
        .slider-heading
            .blueheading Блог
            .slider-heading-controls
                button
                    img(src="./img/icon/slider-control.svg")
                button
                    img(src="./img/icon/slider-control.svg")
        .mp-blog-container.slider-container
            .mp-blog-container-slide
                != partial("/_tmp/program-card")
                != partial("/_tmp/program-card")
                != partial("/_tmp/program-card")
                != partial("/_tmp/program-card")
                != partial("/_tmp/program-card")
        .mp-blog-button.bluebutton перейти в блог