!= partial("/_tmp/navbar")

.merch-filter-wrapper
    != partial("/_tmp/path-btn")
    .wrapper
        .prall-filters-wrapper#filter
            .prall-filters-close#filterclose
                svg(width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(fill-rule='evenodd' clip-rule='evenodd' d='M9.85445 0.853553C10.0497 0.658291 10.0497 0.341709 9.85445 0.146447C9.65919 -0.0488155 9.34261 -0.0488155 9.14735 0.146447L5.00045 4.29334L0.853553 0.146447C0.658291 -0.0488155 0.341709 -0.0488155 0.146447 0.146447C-0.0488155 0.341709 -0.0488155 0.658291 0.146447 0.853553L4.29334 5.00045L0.146447 9.14735C-0.0488155 9.34261 -0.0488155 9.65919 0.146447 9.85445C0.341709 10.0497 0.658291 10.0497 0.853553 9.85445L5.00045 5.70756L9.14735 9.85445C9.34261 10.0497 9.65919 10.0497 9.85445 9.85445C10.0497 9.65919 10.0497 9.34261 9.85445 9.14735L5.70756 5.00045L9.85445 0.853553Z' fill='white')

            .prall-filters
                .prall-filters-select
                    input.k-datepicker(name="date" placeholder="Дата")
                .prall-filters-select
                    select.k-select(name="duration")
                        option(disabled selected) Продолжительность
                        option(value="value1") Значение 1
                        option(value="value2") Значение 2
                .prall-filters-select
                    select.k-select(name="type")
                        option(disabled selected) Тип программы
                        option(value="value1") Значение 1
                        option(value="value2") Значение 2
                .prall-filters-select
                    input.k-input(name="cost" placeholder="Стоимость до")
                .prall-filters-select
                    select.k-select(name="exp")
                        option(disabled selected) Сложность
                        option(value="value1") Значение 1
                        option(value="value2") Значение 2
                .prall-filters-select
                    select.k-select(name="child")
                        option(disabled selected) С детьми
                        option(value="value1") Значение 1
                        option(value="value2") Значение 2
        .merch-header-filter
                .merch-header-grid-element
                    .merch-header-grid-element-text Новинки в аксессуарах

        .merch-grid-container
            .prall-programs-grid-heading
                .blueheading
                .prall-programs-grid-heading-sort Сортировка
                    svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M7.12044 10.1745C7.30019 9.96491 7.61585 9.94069 7.82548 10.1204L11.8733 13.5914L15.9212 10.1204C16.1308 9.94069 16.4465 9.96491 16.6262 10.1745C16.806 10.3842 16.7818 10.6998 16.5721 10.8796L12.1988 14.6296C12.0115 14.7902 11.7351 14.7902 11.5479 14.6296L7.17454 10.8796C6.96491 10.6998 6.94069 10.3842 7.12044 10.1745Z' fill='#212946')
            .merch-grid
                != partial("/_tmp/merch-element")
                != partial("/_tmp/merch-element")
                != partial("/_tmp/merch-element")
                != partial("/_tmp/merch-element")
                != partial("/_tmp/merch-element")
                != partial("/_tmp/merch-element")
                != partial("/_tmp/merch-element")
                != partial("/_tmp/merch-element")

!= partial("/_tmp/footer")