!= partial("/_tmp/navbar")

.merch-wrapper
    != partial("/_tmp/path-btn")
    .wrapper
        .prall-filters
            .prall-filters-select
                .prall-filters-select-label Продолжительность:
                .prall-filters-select-ico
                    svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M7.12044 10.1745C7.30019 9.96491 7.61585 9.94069 7.82548 10.1204L11.8733 13.5914L15.9212 10.1204C16.1308 9.94069 16.4465 9.96491 16.6262 10.1745C16.806 10.3842 16.7818 10.6998 16.5721 10.8796L12.1988 14.6296C12.0115 14.7902 11.7351 14.7902 11.5479 14.6296L7.17454 10.8796C6.96491 10.6998 6.94069 10.3842 7.12044 10.1745Z' fill='#212946')

            .prall-filters-select
                .prall-filters-select-label Продолжительность:
                .prall-filters-select-ico
                    svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M7.12044 10.1745C7.30019 9.96491 7.61585 9.94069 7.82548 10.1204L11.8733 13.5914L15.9212 10.1204C16.1308 9.94069 16.4465 9.96491 16.6262 10.1745C16.806 10.3842 16.7818 10.6998 16.5721 10.8796L12.1988 14.6296C12.0115 14.7902 11.7351 14.7902 11.5479 14.6296L7.17454 10.8796C6.96491 10.6998 6.94069 10.3842 7.12044 10.1745Z' fill='#212946')

            .prall-filters-select
                .prall-filters-select-label Продолжительность:
                .prall-filters-select-ico
                    svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M7.12044 10.1745C7.30019 9.96491 7.61585 9.94069 7.82548 10.1204L11.8733 13.5914L15.9212 10.1204C16.1308 9.94069 16.4465 9.96491 16.6262 10.1745C16.806 10.3842 16.7818 10.6998 16.5721 10.8796L12.1988 14.6296C12.0115 14.7902 11.7351 14.7902 11.5479 14.6296L7.17454 10.8796C6.96491 10.6998 6.94069 10.3842 7.12044 10.1745Z' fill='#212946')

            .prall-filters-select
                .prall-filters-select-label Продолжительность:
                .prall-filters-select-ico
                    svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M7.12044 10.1745C7.30019 9.96491 7.61585 9.94069 7.82548 10.1204L11.8733 13.5914L15.9212 10.1204C16.1308 9.94069 16.4465 9.96491 16.6262 10.1745C16.806 10.3842 16.7818 10.6998 16.5721 10.8796L12.1988 14.6296C12.0115 14.7902 11.7351 14.7902 11.5479 14.6296L7.17454 10.8796C6.96491 10.6998 6.94069 10.3842 7.12044 10.1745Z' fill='#212946')

            .prall-filters-select
                .prall-filters-select-label Продолжительность:
                .prall-filters-select-ico
                    svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M7.12044 10.1745C7.30019 9.96491 7.61585 9.94069 7.82548 10.1204L11.8733 13.5914L15.9212 10.1204C16.1308 9.94069 16.4465 9.96491 16.6262 10.1745C16.806 10.3842 16.7818 10.6998 16.5721 10.8796L12.1988 14.6296C12.0115 14.7902 11.7351 14.7902 11.5479 14.6296L7.17454 10.8796C6.96491 10.6998 6.94069 10.3842 7.12044 10.1745Z' fill='#212946')
            .prall-filters-select
                .prall-filters-select-label Продолжительность:
                .prall-filters-select-ico
                    svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M7.12044 10.1745C7.30019 9.96491 7.61585 9.94069 7.82548 10.1204L11.8733 13.5914L15.9212 10.1204C16.1308 9.94069 16.4465 9.96491 16.6262 10.1745C16.806 10.3842 16.7818 10.6998 16.5721 10.8796L12.1988 14.6296C12.0115 14.7902 11.7351 14.7902 11.5479 14.6296L7.17454 10.8796C6.96491 10.6998 6.94069 10.3842 7.12044 10.1745Z' fill='#212946')
        .merch-header-grid-container
            .merch-header-grid
                .merch-header-grid-element
                    .merch-header-grid-element-text Новинки в аксессуарах
                .merch-header-grid-element
                    .merch-header-grid-element-text Новинки в аксессуарах
                .merch-header-grid-element
                    .merch-header-grid-element-text Новинки в аксессуарах
            .pslider-dots
                .pslider-dots-dot.pslider-dots-active
                .pslider-dots-dot
                .pslider-dots-dot
                .pslider-dots-dot
                .pslider-dots-dot

        .merch-grid-container
            .prall-programs-grid-heading
                .blueheading Весь мерч
                .prall-programs-grid-heading-sort Сортировка
                    svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M7.12044 10.1745C7.30019 9.96491 7.61585 9.94069 7.82548 10.1204L11.8733 13.5914L15.9212 10.1204C16.1308 9.94069 16.4465 9.96491 16.6262 10.1745C16.806 10.3842 16.7818 10.6998 16.5721 10.8796L12.1988 14.6296C12.0115 14.7902 11.7351 14.7902 11.5479 14.6296L7.17454 10.8796C6.96491 10.6998 6.94069 10.3842 7.12044 10.1745Z' fill='#212946')
            .merch-grid
                != partial("/_tmp/merch-element")
                != partial("/_tmp/merch-element")
                != partial("/_tmp/merch-element")
                != partial("/_tmp/merch-element")
                != partial("/_tmp/merch-element")
                != partial("/_tmp/merch-element")
                != partial("/_tmp/merch-element")
                != partial("/_tmp/merch-element")

            .bluebutton ПОСМОТРЕТЬ ЕЩЕ
!= partial("/_tmp/footer")