!= partial("/_tmp/navbar")

!= partial("/_tmp/path")

.wrapper
    .program-mobilefixed
        a.top-buttons-main(href="#")
            svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M7.8051 10.0507V9.97565C7.8051 8.61766 8.63775 7.43195 9.82886 7.09375C10.2691 6.96875 10.7309 6.96875 11.1711 7.09375C12.3623 7.43195 13.1949 8.61766 13.1949 9.97565V10.0507H14.0466C14.3707 10.0507 14.6457 10.3132 14.6927 10.6673L14.8168 11.6023C15.0611 13.4431 15.0611 15.3134 14.8168 17.1542C14.6988 18.0431 14.0496 18.7304 13.2403 18.823L12.8835 18.8639C11.2987 19.0454 9.70125 19.0454 8.1165 18.8639L7.75971 18.823C6.95037 18.7304 6.30116 18.0431 6.1832 17.1542C5.93893 15.3134 5.93893 13.4431 6.1832 11.6023L6.30726 10.6673C6.35425 10.3132 6.62933 10.0507 6.95344 10.0507H7.8051ZM10.0408 8.00383C10.342 7.9183 10.658 7.9183 10.9592 8.00383C11.7742 8.23522 12.3439 9.0465 12.3439 9.97565V10.0507H8.65612V9.97565C8.65612 9.0465 9.22583 8.23522 10.0408 8.00383ZM7.8051 10.9904V12.3999C7.8051 12.6594 7.99561 12.8698 8.23061 12.8698C8.46562 12.8698 8.65612 12.6594 8.65612 12.3999V10.9904H12.3439V12.3999C12.3439 12.6594 12.5344 12.8698 12.7694 12.8698C13.0044 12.8698 13.1949 12.6594 13.1949 12.3999V10.9904H13.8755L13.9748 11.7385C14.207 13.489 14.207 15.2675 13.9748 17.0179C13.9132 17.4816 13.5746 17.84 13.1525 17.8884L12.7957 17.9292C11.2693 18.104 9.73067 18.104 8.20429 17.9292L7.8475 17.8884C7.42537 17.84 7.08676 17.4816 7.02523 17.0179C6.79295 15.2675 6.79295 13.489 7.02523 11.7385L7.1245 10.9904H7.8051Z' fill='#212946')
                circle(cx='19' cy='5' r='2' fill='#469EDC')
            span Мои бронирования
        .bluebutton ЗАБРОНИРОВАТЬ
    .program
        .program-main
            .program-header
                .program-header-filter
                    .program-header-h Обычный Камчатский день
                    .program-header-p Фрирайд с забросками 2 в 1: снегоход + вертолёт
                    .program-header-info
                        .program-header-info-c
                            .program-header-info-ico
                                svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M12.6448 5.26362C12.2481 5.02476 11.7519 5.02476 11.3552 5.26362L10.8389 5.57452C9.45765 6.40622 7.90703 6.91659 6.30183 7.06782L5.97655 7.09847C5.84813 7.11057 5.75 7.21838 5.75 7.34736V8.99125C5.75 11.4988 6.76803 13.8989 8.57088 15.6417L11.8262 18.7887C11.9231 18.8824 12.0769 18.8824 12.1738 18.7887L15.4291 15.6417C17.232 13.8989 18.25 11.4988 18.25 8.99125V7.34736C18.25 7.21838 18.1519 7.11057 18.0235 7.09847L17.6982 7.06782C16.093 6.91659 14.5423 6.40622 13.1611 5.57452L12.6448 5.26362ZM10.5814 3.97861C11.4541 3.4531 12.5459 3.45309 13.4186 3.9786L13.9349 4.2895C15.1234 5.00515 16.4576 5.4443 17.8389 5.57443L18.1641 5.60508C19.0631 5.68977 19.75 6.44446 19.75 7.34736V8.99125C19.75 11.9054 18.5669 14.6947 16.4717 16.7202L13.2163 19.8672C12.538 20.5229 11.462 20.5229 10.7837 19.8672L7.52832 16.7202C5.43311 14.6947 4.25 11.9054 4.25 8.99125V7.34736C4.25 6.44446 4.93693 5.68977 5.83585 5.60508L6.16113 5.57443C7.54235 5.4443 8.87661 5.00515 10.0651 4.2895L10.5814 3.97861Z' fill='white')
                            .program-header-info-text Сложность средняя



                        .program-header-info-c
                            .program-header-info-ico
                                svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M6.99982 3.25C7.41403 3.25 7.74982 3.58579 7.74982 4V5.66763C10.5776 5.4158 13.4221 5.4158 16.2498 5.66763V4C16.2498 3.58579 16.5856 3.25 16.9998 3.25C17.414 3.25 17.7498 3.58579 17.7498 4V5.81644C19.2429 6.02754 20.4224 7.20847 20.6221 8.71484L20.7086 9.36779C21.0726 12.1141 21.0412 14.8984 20.6152 17.6359C20.4042 18.9919 19.3026 20.0335 17.9368 20.1681L16.7438 20.2858C13.5888 20.5969 10.4108 20.5969 7.25574 20.2858L6.06274 20.1681C4.697 20.0335 3.59534 18.9919 3.38433 17.6359C2.95837 14.8984 2.92693 12.1141 3.29097 9.36779L3.37752 8.71484C3.57719 7.20845 4.75674 6.02751 6.24982 5.81643V4C6.24982 3.58579 6.5856 3.25 6.99982 3.25ZM7.44498 7.2028C10.4742 6.90408 13.5254 6.90408 16.5546 7.2028L17.46 7.2921C18.3268 7.37757 19.0206 8.04854 19.1351 8.91194L19.2216 9.56489C19.2519 9.793 19.2792 10.0214 19.3037 10.25H4.69588C4.72036 10.0214 4.74772 9.79301 4.77796 9.5649L4.86451 8.91194C4.97896 8.04854 5.67278 7.37757 6.53953 7.2921L7.44498 7.2028ZM4.57665 11.75C4.47847 13.6381 4.5752 15.5332 4.86649 17.4052C4.97233 18.0854 5.52491 18.6078 6.20995 18.6754L7.40295 18.793C10.4601 19.0945 13.5395 19.0945 16.5966 18.793L17.7896 18.6754C18.4747 18.6078 19.0272 18.0854 19.1331 17.4052C19.4244 15.5332 19.5211 13.6381 19.4229 11.75H4.57665Z' fill='white')

                            .program-header-info-text Сложность средняя
                        .program-header-info-c
                            .program-header-info-ico
                                svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M12 4.75C7.99594 4.75 4.75 7.99594 4.75 12C4.75 16.0041 7.99594 19.25 12 19.25C16.0041 19.25 19.25 16.0041 19.25 12C19.25 7.99594 16.0041 4.75 12 4.75ZM3.25 12C3.25 7.16751 7.16751 3.25 12 3.25C16.8325 3.25 20.75 7.16751 20.75 12C20.75 16.8325 16.8325 20.75 12 20.75C7.16751 20.75 3.25 16.8325 3.25 12Z' fill='white')
                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M10.8498 9.30875C9.91622 10.0768 9.29253 11.1571 9.09417 12.3496L8.65623 14.9824C8.42881 16.3496 10.0186 17.2675 11.0889 16.3869L13.15 14.6912C14.0836 13.9232 14.7073 12.8429 14.9056 11.6504L15.3436 9.01756C15.571 7.65035 13.9813 6.73251 12.9109 7.61307L10.8498 9.30875ZM12 10.5C11.1716 10.5 10.5 11.1716 10.5 12C10.5 12.8284 11.1716 13.5 12 13.5C12.8284 13.5 13.5 12.8284 13.5 12C13.5 11.1716 12.8284 10.5 12 10.5Z' fill='white')

                            .program-header-info-text Сложность средняя
                        .program-header-info-c
                            .program-header-info-ico
                                svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M1.62291 12.3415L3.89619 5.90532C3.9075 5.87332 3.92096 5.84211 3.93649 5.81193C4.31617 5.07411 4.99793 4.50861 5.72519 4.13231C6.45804 3.75312 7.30894 3.52783 8.11111 3.52783C9.25937 3.52783 10.4009 3.98867 11.2581 4.71962C11.533 4.95398 11.7847 5.22181 12 5.51784C12.2153 5.22181 12.467 4.95398 12.7419 4.71962C13.5991 3.98867 14.7406 3.52783 15.8889 3.52783C16.6911 3.52783 17.542 3.75312 18.2748 4.13231C19.0021 4.50861 19.6838 5.07411 20.0635 5.81193C20.079 5.84211 20.0925 5.87332 20.1038 5.90532L22.3771 12.3414C22.6176 12.9398 22.75 13.5934 22.75 14.2778C22.75 17.1466 20.4244 19.4723 17.5556 19.4723C14.9414 19.4723 12.7783 17.5413 12.4149 15.0278H11.5851C11.2217 17.5413 9.05856 19.4723 6.44444 19.4723C3.57645 19.4723 1.25132 17.1479 1.25 14.2803M4.18176 9.60076L5.29183 6.45792C5.49314 6.09479 5.8859 5.73805 6.41451 5.46454C6.95711 5.18379 7.57325 5.02783 8.11111 5.02783C8.87198 5.02783 9.67485 5.34083 10.2848 5.86098C10.8935 6.38002 11.25 7.04965 11.25 7.73462V12.3022C10.4726 10.4132 8.61382 9.08337 6.44444 9.08337C5.63337 9.08337 4.86572 9.26926 4.18176 9.60076ZM10.0638 13.5333C10.113 13.7738 10.1389 14.0228 10.1389 14.2778C10.1389 16.3182 8.48483 17.9723 6.44444 17.9723C4.40406 17.9723 2.75 16.3182 2.75 14.2778C2.75 12.7534 3.67326 11.4446 4.99112 10.8802C5.01851 10.8685 5.04607 10.8571 5.07379 10.846C5.49773 10.6765 5.9603 10.5834 6.44444 10.5834C7.71962 10.5834 8.84391 11.2294 9.50784 12.2121C9.77346 12.6052 9.96539 13.0522 10.0638 13.5333ZM12.75 12.3022C12.9444 11.83 13.2063 11.3927 13.5238 11.0024C14.4762 9.83143 15.9285 9.08339 17.5556 9.08339C17.5782 9.08339 17.6007 9.08353 17.6233 9.08382C18.1063 9.08999 18.5733 9.16207 19.0157 9.29143C19.2936 9.37266 19.5618 9.47647 19.8182 9.60076L18.7082 6.45792C18.5069 6.09478 18.1141 5.73805 17.5855 5.46454C17.0429 5.18379 16.4268 5.02783 15.8889 5.02783C15.128 5.02783 14.3251 5.34083 13.7152 5.86098C13.1065 6.38002 12.75 7.04965 12.75 7.73462V12.3022ZM13.8611 14.2778C13.8611 14.2778 13.8611 14.2778 13.8611 14.2778C13.8611 16.3182 15.5152 17.9723 17.5556 17.9723C19.5952 17.9723 21.2488 16.3194 21.25 14.28C21.25 14.2793 21.25 14.2786 21.25 14.2778C21.25 14.2471 21.2496 14.2165 21.2489 14.186C21.248 14.1492 21.2466 14.1124 21.2446 14.0759C21.1662 12.6201 20.2449 11.3883 18.9602 10.8598C18.527 10.6816 18.0527 10.5834 17.5556 10.5834C16.2803 10.5834 15.156 11.2295 14.4921 12.2122C14.0937 12.8019 13.8611 13.5127 13.8611 14.2778Z' fill='white')
                                    path(d='M1.62291 12.3415C1.38237 12.9399 1.25 13.5934 1.25 14.2778C1.25 14.2778 1.25 14.2778 1.25 14.2778' fill='white')

                            .program-header-info-text Сложность средняя




            .program-p.program-p-f Вертолет – это максимально быстрый и комфортный способ передвижения​. За один день можно побывать в разный районах, сделать спуски с многочисленных вершин и перевалов, спуститься к берегу океана или в кратер действующего вулкана.
            .program-p Мы предлагаем принять участие в однодневной программе Хели-ски, во время которой вы сможете совершить до 10 спусков с сопок и вулканов.
            .mp-movies-slide
                .mp-movies-slide-gradient
                    .mp-moviews-slide-tag НОВИНКА
                    .mp-moviews-slide-h Во имя науки. Восхождение на Ичинский вулкан
                    .mp-moviews-slide-p В конце сентября 2020 года команда Kamchatka Freeride Community реализовали проект, идею которого вынашивали больше года. Гид — Женя Лысов прошёл по стропе в кратере действующего вулкана Горелый.
                    a.mp-moviews-slide-a(href="#") ПЕРЕЙТИ К ПРОСМОТРУ
                        img(src="./img/icon/orange-chevron.svg")

            .program-roadmap
                .blueheading Программа
                .program-roadmap-grid
                    .program-roadmap-grid-block.program-roadmap-grid-block-active
                        .program-roadmap-grid-plus
                            svg(width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M9.4998 3.2998C9.4998 3.02366 9.27595 2.7998 8.9998 2.7998C8.72366 2.7998 8.4998 3.02366 8.4998 3.2998V8.4998H3.2998C3.02366 8.4998 2.7998 8.72366 2.7998 8.9998C2.7998 9.27595 3.02366 9.4998 3.2998 9.4998H8.4998V14.6998C8.4998 14.9759 8.72366 15.1998 8.9998 15.1998C9.27595 15.1998 9.4998 14.9759 9.4998 14.6998V9.4998H14.6998C14.9759 9.4998 15.1998 9.27595 15.1998 8.9998C15.1998 8.72366 14.9759 8.4998 14.6998 8.4998H9.4998V3.2998Z' fill='#212946')

                        .program-roadmap-grid-hr
                            .program-roadmap-grid-hr-day День 1
                            .program-roadmap-grid-hr-title Прибытие на Камчатку
                        .program-roadmap-grid-r
                            .program-roadmap-grid-r-border
                                .program-roadmap-grid-r-border-vr
                            .program-roadmap-grid-r-text Вас встретят в аэропорту и отвезут в гостевой дом в Петропавловске-Камчатском. Вы  познакомитесь с гидами, обсудите программу и пообедаете. Затем пройдете инструктаж по лавинной безопасности с практическими занятиями. Вечером вас ждет ужин и отдых в комфортных номерах гостевого дома (или хост отеля).
                    .program-roadmap-grid-block
                        .program-roadmap-grid-plus
                            svg(width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M9.4998 3.2998C9.4998 3.02366 9.27595 2.7998 8.9998 2.7998C8.72366 2.7998 8.4998 3.02366 8.4998 3.2998V8.4998H3.2998C3.02366 8.4998 2.7998 8.72366 2.7998 8.9998C2.7998 9.27595 3.02366 9.4998 3.2998 9.4998H8.4998V14.6998C8.4998 14.9759 8.72366 15.1998 8.9998 15.1998C9.27595 15.1998 9.4998 14.9759 9.4998 14.6998V9.4998H14.6998C14.9759 9.4998 15.1998 9.27595 15.1998 8.9998C15.1998 8.72366 14.9759 8.4998 14.6998 8.4998H9.4998V3.2998Z' fill='#212946')

                        .program-roadmap-grid-hr
                            .program-roadmap-grid-hr-day День 1
                            .program-roadmap-grid-hr-title Прибытие на Камчатку
                        .program-roadmap-grid-r
                            .program-roadmap-grid-r-border
                                .program-roadmap-grid-r-border-vr
                            .program-roadmap-grid-r-text Вас встретят в аэропорту и отвезут в гостевой дом в Петропавловске-Камчатском. Вы  познакомитесь с гидами, обсудите программу и пообедаете. Затем пройдете инструктаж по лавинной безопасности с практическими занятиями. Вечером вас ждет ужин и отдых в комфортных номерах гостевого дома (или хост отеля).
                    .program-roadmap-grid-block
                        .program-roadmap-grid-plus
                            svg(width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M9.4998 3.2998C9.4998 3.02366 9.27595 2.7998 8.9998 2.7998C8.72366 2.7998 8.4998 3.02366 8.4998 3.2998V8.4998H3.2998C3.02366 8.4998 2.7998 8.72366 2.7998 8.9998C2.7998 9.27595 3.02366 9.4998 3.2998 9.4998H8.4998V14.6998C8.4998 14.9759 8.72366 15.1998 8.9998 15.1998C9.27595 15.1998 9.4998 14.9759 9.4998 14.6998V9.4998H14.6998C14.9759 9.4998 15.1998 9.27595 15.1998 8.9998C15.1998 8.72366 14.9759 8.4998 14.6998 8.4998H9.4998V3.2998Z' fill='#212946')

                        .program-roadmap-grid-hr
                            .program-roadmap-grid-hr-day День 1
                            .program-roadmap-grid-hr-title Прибытие на Камчатку
                        .program-roadmap-grid-r
                            .program-roadmap-grid-r-border
                                .program-roadmap-grid-r-border-vr
                            .program-roadmap-grid-r-text Вас встретят в аэропорту и отвезут в гостевой дом в Петропавловске-Камчатском. Вы  познакомитесь с гидами, обсудите программу и пообедаете. Затем пройдете инструктаж по лавинной безопасности с практическими занятиями. Вечером вас ждет ужин и отдых в комфортных номерах гостевого дома (или хост отеля).



            != partial("/_tmp/slider")

            != partial("/_tmp/program-calculator")
            .program-reviews-wrapper
                .mp-reviews.program-reviews
                    .slider-heading
                        .blueheading Отзывы участников наших программ
                        .slider-heading-controls
                            button#reviews-prev
                                img(src="./img/icon/slider-control.svg")
                            button#reviews-next
                                img(src="./img/icon/slider-control.svg")

                    .slider-container#slider-reviews-full
                        != partial("./_tmp/review-card")
                        != partial("./_tmp/review-card")
                        != partial("./_tmp/review-card")
                        != partial("./review-card")

            .program-guide
                .slider-heading
                    .blueheading Гиды по этой программе
                    .slider-heading-controls
                        button#guide-prev
                            img(src="./img/icon/slider-control.svg")
                        button#guide-next
                            img(src="./img/icon/slider-control.svg")
                .slider-container#slider-guide
                    != partial("./_tmp/guide-card")
                    != partial("./_tmp/guide-card")
                    != partial("./_tmp/guide-card")
                    != partial("./_tmp/guide-card")

            .program-house
                .blueheading Проживание
                .program-house-subtitle 4 дня в гостевом доме Bay House или Granin House
                != partial("/_tmp/slider")
                .program-house-subtitle 3 дня в загородном доме «Идеальный куб»
                != partial("/_tmp/slider")


            .program-food
                .blueheading Питание
                .program-food-container
                    .program-food-container-element
                        .program-food-container-element-title Завтрак
                            .program-food-container-element-title-plus
                                svg(width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M9.4998 3.2998C9.4998 3.02366 9.27595 2.7998 8.9998 2.7998C8.72366 2.7998 8.4998 3.02366 8.4998 3.2998V8.4998H3.2998C3.02366 8.4998 2.7998 8.72366 2.7998 8.9998C2.7998 9.27595 3.02366 9.4998 3.2998 9.4998H8.4998V14.6998C8.4998 14.9759 8.72366 15.1998 8.9998 15.1998C9.27595 15.1998 9.4998 14.9759 9.4998 14.6998V9.4998H14.6998C14.9759 9.4998 15.1998 9.27595 15.1998 8.9998C15.1998 8.72366 14.9759 8.4998 14.6998 8.4998H9.4998V3.2998Z' fill='#212946')

                        .program-food-container-element-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    .program-food-container-element
                        .program-food-container-element-title Завтрак
                            .program-food-container-element-title-plus
                                svg(width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M9.4998 3.2998C9.4998 3.02366 9.27595 2.7998 8.9998 2.7998C8.72366 2.7998 8.4998 3.02366 8.4998 3.2998V8.4998H3.2998C3.02366 8.4998 2.7998 8.72366 2.7998 8.9998C2.7998 9.27595 3.02366 9.4998 3.2998 9.4998H8.4998V14.6998C8.4998 14.9759 8.72366 15.1998 8.9998 15.1998C9.27595 15.1998 9.4998 14.9759 9.4998 14.6998V9.4998H14.6998C14.9759 9.4998 15.1998 9.27595 15.1998 8.9998C15.1998 8.72366 14.9759 8.4998 14.6998 8.4998H9.4998V3.2998Z' fill='#212946')

                        .program-food-container-element-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    .program-food-container-element
                        .program-food-container-element-title Завтрак
                            .program-food-container-element-title-plus
                                svg(width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M9.4998 3.2998C9.4998 3.02366 9.27595 2.7998 8.9998 2.7998C8.72366 2.7998 8.4998 3.02366 8.4998 3.2998V8.4998H3.2998C3.02366 8.4998 2.7998 8.72366 2.7998 8.9998C2.7998 9.27595 3.02366 9.4998 3.2998 9.4998H8.4998V14.6998C8.4998 14.9759 8.72366 15.1998 8.9998 15.1998C9.27595 15.1998 9.4998 14.9759 9.4998 14.6998V9.4998H14.6998C14.9759 9.4998 15.1998 9.27595 15.1998 8.9998C15.1998 8.72366 14.9759 8.4998 14.6998 8.4998H9.4998V3.2998Z' fill='#212946')

                        .program-food-container-element-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    .program-food-container-warning
                        svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20ZM11.0297 3.3999H8.99574L9.31974 12.0219H10.6877L11.0297 3.3999ZM9.17574 15.7839C9.40374 15.9999 9.68574 16.1079 10.0217 16.1079C10.3457 16.1079 10.6157 15.9999 10.8317 15.7839C11.0597 15.5559 11.1737 15.2799 11.1737 14.9559C11.1737 14.6319 11.0657 14.3619 10.8497 14.1459C10.6337 13.9179 10.3577 13.8039 10.0217 13.8039C9.68574 13.8039 9.40374 13.9179 9.17574 14.1459C8.94774 14.3619 8.83374 14.6319 8.83374 14.9559C8.83374 15.2799 8.94774 15.5559 9.17574 15.7839Z' fill='#BABECA')
                        | Если у вас есть ограничения по питанию, пожалуйста, укажите об этом при бронировании программы, мы обязательно учтем этот момент.
                .program-food-photo
                    img(src="./img/photo/food.png")


            .program-adser
                .program-adser-title Дополнительные услуги
                .program-adser-element
                    .program-adser-element-name
                        .program-adser-element-name-title Сауна
                        .program-adser-element-name-price 1500 р. \ 1 час
                    .program-adser-element-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

                .program-adser-element
                    .program-adser-element-name
                        .program-adser-element-name-title Сауна
                        .program-adser-element-name-price 1500 р. \ 1 час
                    .program-adser-element-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

                .program-adser-element
                    .program-adser-element-name
                        .program-adser-element-name-title Сауна
                        .program-adser-element-name-price 1500 р. \ 1 час
                    .program-adser-element-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .program-food-container-warning
                    svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20ZM11.0297 3.3999H8.99574L9.31974 12.0219H10.6877L11.0297 3.3999ZM9.17574 15.7839C9.40374 15.9999 9.68574 16.1079 10.0217 16.1079C10.3457 16.1079 10.6157 15.9999 10.8317 15.7839C11.0597 15.5559 11.1737 15.2799 11.1737 14.9559C11.1737 14.6319 11.0657 14.3619 10.8497 14.1459C10.6337 13.9179 10.3577 13.8039 10.0217 13.8039C9.68574 13.8039 9.40374 13.9179 9.17574 14.1459C8.94774 14.3619 8.83374 14.6319 8.83374 14.9559C8.83374 15.2799 8.94774 15.5559 9.17574 15.7839Z' fill='#BABECA')
                    | Если у вас есть ограничения по питанию, пожалуйста, укажите об этом при бронировании программы, мы обязательно учтем этот момент.


            .program-items
                .slider-heading
                    .blueheading Список вещей
                    .slider-heading-controls
                        button#items-prev
                            img(src="./img/icon/slider-control.svg")
                        button#items-next
                            img(src="./img/icon/slider-control.svg")
                .slider-container#slider-items
                    != partial("/_tmp/items-card", { isActive: true })
                    != partial("/_tmp/items-card")
                    != partial("/_tmp/items-card")

            .program-rent
                .program-rent-text У нас есть свой прокат, забронируйте оборудование, которое вам точно понадобится на программе
                a.program-rent-seemore(href="#") ПОДРОБНЕЕ
                    svg(width='7' height='14' viewBox='0 0 7 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M0.864893 13.6162C0.653471 13.4386 0.626083 13.1232 0.803721 12.9117L5.72532 7.05413L0.803721 1.19651C0.626083 0.985084 0.65347 0.669688 0.864892 0.49205C1.07631 0.314412 1.39171 0.3418 1.56935 0.553222L6.7612 6.73248C6.91744 6.91845 6.91744 7.1898 6.7612 7.37577L1.56935 13.555C1.39171 13.7665 1.07631 13.7938 0.864893 13.6162Z' fill='#FF7B47')



            .program-faq
                .blueheading Ответы на часто задаваемые вопросы
                != partial("/_tmp/spoiler")
                != partial("/_tmp/spoiler")
                != partial("/_tmp/spoiler")

            .program-simprog
                .slider-heading
                    .blueheading Другие похожие программы
                    .slider-heading-controls
                        button#simprog-prev
                            img(src="./img/icon/slider-control.svg")
                        button#simprog-next
                            img(src="./img/icon/slider-control.svg")
                .slider-container#slider-simprog
                    != partial("/_tmp/simprogram-card")
                    != partial("/_tmp/simprogram-card")
                    != partial("/_tmp/simprogram-card")
                    != partial("/_tmp/simprogram-card")

        form.program-sidebar
            .blueheading Обычный Камчатский день
            .program-sidebar-st Фрирайд с забросками 2 в 1: снегоход + вертолёт
            .program-sidebar-wlabel Даты проведения:
            .program-sidebar-select
                input.k-datepicker(name="date" placeholder="Дата")
            .program-sidebar-c
                .program-sidebar-c-r
                    .program-sidebar-c-r-label Тип размещения:
                    .program-sidebar-select
                        select.k-select(name="program")
                            option(value="value1") 2-x местный
                            option(value="value2") 3-х местный
                .program-sidebar-c-r
                    .program-sidebar-c-r-label Количество человек:
                    .program-sidebar-c-r-input
                        input.k-input(name="persons" value="2")

            .program-sidebar-price 680 000 р.
            .program-sidebar-bonus Начислим 5760 бонусов
                svg(width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(fill-rule='evenodd' clip-rule='evenodd' d='M5.5 11C8.53757 11 11 8.53757 11 5.5C11 2.46243 8.53757 0 5.5 0C2.46243 0 0 2.46243 0 5.5C0 8.53757 2.46243 11 5.5 11ZM5.0401 6.23241C4.95271 6.43408 4.90902 6.66936 4.90902 6.93825H5.91735C5.91735 6.66263 5.98121 6.43072 6.10893 6.2425C6.24338 6.05427 6.4484 5.8358 6.72402 5.58708C6.93913 5.39213 7.11054 5.22408 7.23827 5.08291C7.36599 4.94175 7.47354 4.76697 7.56093 4.55858C7.65504 4.34347 7.7021 4.09811 7.7021 3.8225C7.7021 3.26455 7.48699 2.82761 7.05677 2.51166C6.62654 2.189 6.04507 2.02766 5.31235 2.02766C4.73424 2.02766 4.22335 2.12513 3.77968 2.32008C3.34274 2.51502 2.9831 2.794 2.70076 3.157L3.43685 3.68133C3.85363 3.15027 4.45527 2.88475 5.24177 2.88475C5.69215 2.88475 6.04507 2.98558 6.30052 3.18725C6.55596 3.38219 6.68368 3.64436 6.68368 3.97375C6.68368 4.21575 6.61982 4.42413 6.4921 4.59891C6.36438 4.76697 6.16607 4.96863 5.89718 5.20391C5.68207 5.39886 5.50729 5.56691 5.37285 5.70808C5.24513 5.84925 5.13421 6.02402 5.0401 6.23241ZM4.94935 9.04566C5.07707 9.16666 5.23504 9.22716 5.42326 9.22716C5.60477 9.22716 5.75602 9.16666 5.87702 9.04566C6.00474 8.91794 6.0686 8.76333 6.0686 8.58183C6.0686 8.40033 6.0081 8.24908 5.8871 8.12808C5.7661 8.00036 5.61149 7.9365 5.42326 7.9365C5.23504 7.9365 5.07707 8.00036 4.94935 8.12808C4.82835 8.24908 4.76785 8.40033 4.76785 8.58183C4.76785 8.76333 4.82835 8.91794 4.94935 9.04566Z' fill='#BABECA')
            .program-sidebar-info Оплата частями, без процентов. Первый взнос 50 000 р.
            button(type="submit").bluebutton ЗАБРОНИРОВАТЬ



!= partial("/_tmp/footer")