!= partial("/_tmp/navbar")

.prall-wrapper
    != partial("/_tmp/path-btn")
    .wrapper
        .prall-filters-wrapper#filter
            .prall-filters-close#filterclose
                svg(width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(fill-rule='evenodd' clip-rule='evenodd' d='M9.85445 0.853553C10.0497 0.658291 10.0497 0.341709 9.85445 0.146447C9.65919 -0.0488155 9.34261 -0.0488155 9.14735 0.146447L5.00045 4.29334L0.853553 0.146447C0.658291 -0.0488155 0.341709 -0.0488155 0.146447 0.146447C-0.0488155 0.341709 -0.0488155 0.658291 0.146447 0.853553L4.29334 5.00045L0.146447 9.14735C-0.0488155 9.34261 -0.0488155 9.65919 0.146447 9.85445C0.341709 10.0497 0.658291 10.0497 0.853553 9.85445L5.00045 5.70756L9.14735 9.85445C9.34261 10.0497 9.65919 10.0497 9.85445 9.85445C10.0497 9.65919 10.0497 9.34261 9.85445 9.14735L5.70756 5.00045L9.85445 0.853553Z' fill='white')

            .prall-filters
                .prall-filters-select
                    input.k-datepicker(name="date" placeholder="Дата")
                .prall-filters-select
                    select.k-select(name="duration")
                        option(disabled selected) Продолжительность
                        option(value="value1") Значение 1
                        option(value="value2") Значение 2
                .prall-filters-select
                    select.k-select(name="type")
                        option(disabled selected) Тип программы
                        option(value="value1") Значение 1
                        option(value="value2") Значение 2
                .prall-filters-select
                    input.k-input(name="cost" placeholder="Стоимость до")
                .prall-filters-select
                    select.k-select(name="exp")
                        option(disabled selected) Сложность
                        option(value="value1") Значение 1
                        option(value="value2") Значение 2
                .prall-filters-select
                    select.k-select(name="child")
                        option(disabled selected) С детьми
                        option(value="value1") Значение 1
                        option(value="value2") Значение 2
        .prall-programs-grid
            .prall-programs-grid-heading
                .blueheading Программы: Все
                .prall-programs-grid-heading-sort 
                    select.k-select(name="sort")
                        option(disabled selected) Сортировка
                        option(value="value1") Значение 1
                        option(value="value2") Значение 2
            .prall-programs-grid-container
                != partial("/_tmp/simprogram-card")
                != partial("/_tmp/simprogram-card")
                != partial("/_tmp/simprogram-card")
                .prall-programs-grid-container-custom
                    .prall-programs-grid-container-custom-ico
                        svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M6.53515 3.25C5.95003 3.25 5.40363 3.54243 5.07906 4.02927L1.48984 9.41311C1.27011 9.74271 1.24383 10.1648 1.42098 10.5191C3.38509 14.4473 6.11464 17.9432 9.4492 20.8014L11.1999 22.3021C11.6603 22.6967 12.3396 22.6967 12.8 22.3021L14.5507 20.8014C17.8853 17.9432 20.6148 14.4473 22.5789 10.5191C22.7561 10.1648 22.7298 9.74271 22.5101 9.41311L18.9209 4.02927C18.5963 3.54243 18.0499 3.25 17.4648 3.25H6.53515ZM6.32714 4.86132C6.3735 4.79178 6.45156 4.75 6.53515 4.75H8.87496L6.95984 9.34629C6.91573 9.45216 6.88243 9.56135 6.85999 9.67224C6.15616 9.61985 5.45293 9.55669 4.75054 9.48276L3.34483 9.33479L6.32714 4.86132ZM3.27862 10.8361C5.07202 14.1261 7.44018 17.0714 10.2732 19.5312L7.14772 11.1967C6.29538 11.1381 5.44384 11.064 4.59352 10.9745L3.27862 10.8361ZM8.78478 11.2902L12 19.864L15.2152 11.2902C13.0728 11.3876 10.9271 11.3876 8.78478 11.2902ZM16.8522 11.1967L13.7268 19.5312C16.5598 17.0714 18.9279 14.1261 20.7213 10.8361L19.4064 10.9745C18.5561 11.064 17.7046 11.1381 16.8522 11.1967ZM20.6551 9.33479L19.2494 9.48276C18.547 9.55669 17.8438 9.61985 17.1399 9.67224C17.1175 9.56135 17.0842 9.45216 17.0401 9.34629L15.125 4.75H17.4648C17.5484 4.75 17.6264 4.79178 17.6728 4.86133L20.6551 9.33479ZM15.5917 9.77005C13.1988 9.89432 10.8011 9.89432 8.40827 9.77005L10.5 4.75H13.5L15.5917 9.77005Z' fill='#469EDC')

                    .prall-programs-grid-container-custom-text Составь свою собственную программу
                    a.prall-programs-grid-container-custom-link(href="#")
                        svg(width='106' height='20' viewBox='0 0 106 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M1.23 5.05H9.63V16H7.98V6.4H2.88V16H1.23V5.05ZM12.8795 6.43C13.8595 5.41 15.1695 4.9 16.8095 4.9C18.4495 4.9 19.7595 5.41 20.7395 6.43C21.7195 7.45 22.2095 8.815 22.2095 10.525C22.2095 12.235 21.7195 13.6 20.7395 14.62C19.7595 15.64 18.4495 16.15 16.8095 16.15C15.1695 16.15 13.8595 15.64 12.8795 14.62C11.8995 13.6 11.4095 12.235 11.4095 10.525C11.4095 8.815 11.8995 7.45 12.8795 6.43ZM14.1095 13.66C14.7895 14.42 15.6895 14.8 16.8095 14.8C17.9295 14.8 18.8295 14.42 19.5095 13.66C20.1895 12.89 20.5295 11.845 20.5295 10.525C20.5295 9.205 20.1895 8.165 19.5095 7.405C18.8295 6.635 17.9295 6.25 16.8095 6.25C15.6895 6.25 14.7895 6.635 14.1095 7.405C13.4295 8.165 13.0895 9.205 13.0895 10.525C13.0895 11.845 13.4295 12.89 14.1095 13.66ZM26.1087 14.65H30.4437V6.4H27.2187C27.2187 8.54 27.1937 10.035 27.1437 10.885C27.1037 11.725 27.0137 12.39 26.8737 12.88C26.7437 13.36 26.4887 13.95 26.1087 14.65ZM24.2187 14.65C24.6787 13.98 24.9937 13.4 25.1637 12.91C25.3337 12.42 25.4487 11.73 25.5087 10.84C25.5787 9.94 25.6137 8.46 25.6137 6.4V5.05H32.0937V14.65H33.3687V18.4H31.8687V16H24.8937V18.4H23.3937V14.65H24.2187ZM36.879 11.875V16H35.229V5.125C36.269 4.975 37.369 4.9 38.529 4.9C39.909 4.9 40.954 5.195 41.664 5.785C42.374 6.365 42.729 7.195 42.729 8.275C42.729 10.725 41.329 11.95 38.529 11.95C37.999 11.95 37.449 11.925 36.879 11.875ZM36.879 10.54C37.379 10.62 37.879 10.66 38.379 10.66C39.259 10.66 39.934 10.47 40.404 10.09C40.874 9.7 41.109 9.145 41.109 8.425C41.109 7.705 40.879 7.16 40.419 6.79C39.959 6.41 39.279 6.22 38.379 6.22C37.809 6.22 37.309 6.255 36.879 6.325V10.54ZM45.2379 6.43C46.2179 5.41 47.5279 4.9 49.1679 4.9C50.8079 4.9 52.1179 5.41 53.0979 6.43C54.0779 7.45 54.5679 8.815 54.5679 10.525C54.5679 12.235 54.0779 13.6 53.0979 14.62C52.1179 15.64 50.8079 16.15 49.1679 16.15C47.5279 16.15 46.2179 15.64 45.2379 14.62C44.2579 13.6 43.7679 12.235 43.7679 10.525C43.7679 8.815 44.2579 7.45 45.2379 6.43ZM46.4679 13.66C47.1479 14.42 48.0479 14.8 49.1679 14.8C50.2879 14.8 51.1879 14.42 51.8679 13.66C52.5479 12.89 52.8879 11.845 52.8879 10.525C52.8879 9.205 52.5479 8.165 51.8679 7.405C51.1879 6.635 50.2879 6.25 49.1679 6.25C48.0479 6.25 47.1479 6.635 46.4679 7.405C45.7879 8.165 45.4479 9.205 45.4479 10.525C45.4479 11.845 45.7879 12.89 46.4679 13.66ZM58.0021 14.695C58.3921 14.785 58.8421 14.83 59.3521 14.83C61.2321 14.83 62.1721 14.065 62.1721 12.535C62.1721 11.135 61.2321 10.435 59.3521 10.435C58.8321 10.435 58.3821 10.47 58.0021 10.54V14.695ZM58.0021 9.25C58.4221 9.18 58.9221 9.145 59.5021 9.145C60.8921 9.145 61.9371 9.435 62.6371 10.015C63.3471 10.595 63.7021 11.43 63.7021 12.52C63.7021 13.75 63.3421 14.665 62.6221 15.265C61.9121 15.855 60.7971 16.15 59.2771 16.15C58.2871 16.15 57.3121 16.07 56.3521 15.91V5.05H63.1021V6.37H58.0021V9.25ZM67.2159 5.05V9.52H72.3159V5.05H73.9659V16H72.3159V10.81H67.2159V16H65.5659V5.05H67.2159ZM78.0704 6.4V9.52H82.7204V10.81H78.0704V14.65H83.0204V16H76.4204V5.05H83.0204V6.4H78.0704ZM86.9767 6.4V9.52H91.6267V10.81H86.9767V14.65H91.9267V16H85.3267V5.05H91.9267V6.4H86.9767Z' fill='#469EDC')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M100.177 15.7687C99.9664 15.5906 99.9398 15.2751 100.118 15.0641L104.02 10.4433L100.118 5.82248C99.9398 5.6115 99.9664 5.29604 100.177 5.11788C100.388 4.93971 100.704 4.96632 100.882 5.1773L105.057 10.1207C105.214 10.307 105.214 10.5796 105.057 10.7659L100.882 15.7093C100.704 15.9203 100.388 15.9469 100.177 15.7687Z' fill='#469EDC')

                != partial("/_tmp/simprogram-card")
                != partial("/_tmp/simprogram-card")
                != partial("/_tmp/simprogram-card")
                != partial("/_tmp/simprogram-card")
            .bluebutton ПОСМОТРЕТЬ ЕЩЕ



    != partial("/_tmp/reviews")
    != partial("/_tmp/movies")

!= partial("/_tmp/footer")