!= partial("/_tmp/navbar")

!= partial("/_tmp/path")

.wrapper
    .program
        .program-main
            .program-header
                .program-header-filter
                    .program-header-h Обычный Камчатский день
                    .program-header-p Фрирайд с забросками 2 в 1: снегоход + вертолёт
                    .program-header-info
                        .program-header-info-c
                            .program-header-info-ico
                                svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M12.6448 5.26362C12.2481 5.02476 11.7519 5.02476 11.3552 5.26362L10.8389 5.57452C9.45765 6.40622 7.90703 6.91659 6.30183 7.06782L5.97655 7.09847C5.84813 7.11057 5.75 7.21838 5.75 7.34736V8.99125C5.75 11.4988 6.76803 13.8989 8.57088 15.6417L11.8262 18.7887C11.9231 18.8824 12.0769 18.8824 12.1738 18.7887L15.4291 15.6417C17.232 13.8989 18.25 11.4988 18.25 8.99125V7.34736C18.25 7.21838 18.1519 7.11057 18.0235 7.09847L17.6982 7.06782C16.093 6.91659 14.5423 6.40622 13.1611 5.57452L12.6448 5.26362ZM10.5814 3.97861C11.4541 3.4531 12.5459 3.45309 13.4186 3.9786L13.9349 4.2895C15.1234 5.00515 16.4576 5.4443 17.8389 5.57443L18.1641 5.60508C19.0631 5.68977 19.75 6.44446 19.75 7.34736V8.99125C19.75 11.9054 18.5669 14.6947 16.4717 16.7202L13.2163 19.8672C12.538 20.5229 11.462 20.5229 10.7837 19.8672L7.52832 16.7202C5.43311 14.6947 4.25 11.9054 4.25 8.99125V7.34736C4.25 6.44446 4.93693 5.68977 5.83585 5.60508L6.16113 5.57443C7.54235 5.4443 8.87661 5.00515 10.0651 4.2895L10.5814 3.97861Z' fill='white')
                            .program-header-info-text Сложность средняя



                        .program-header-info-c
                            .program-header-info-ico
                                svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M12.6448 5.26362C12.2481 5.02476 11.7519 5.02476 11.3552 5.26362L10.8389 5.57452C9.45765 6.40622 7.90703 6.91659 6.30183 7.06782L5.97655 7.09847C5.84813 7.11057 5.75 7.21838 5.75 7.34736V8.99125C5.75 11.4988 6.76803 13.8989 8.57088 15.6417L11.8262 18.7887C11.9231 18.8824 12.0769 18.8824 12.1738 18.7887L15.4291 15.6417C17.232 13.8989 18.25 11.4988 18.25 8.99125V7.34736C18.25 7.21838 18.1519 7.11057 18.0235 7.09847L17.6982 7.06782C16.093 6.91659 14.5423 6.40622 13.1611 5.57452L12.6448 5.26362ZM10.5814 3.97861C11.4541 3.4531 12.5459 3.45309 13.4186 3.9786L13.9349 4.2895C15.1234 5.00515 16.4576 5.4443 17.8389 5.57443L18.1641 5.60508C19.0631 5.68977 19.75 6.44446 19.75 7.34736V8.99125C19.75 11.9054 18.5669 14.6947 16.4717 16.7202L13.2163 19.8672C12.538 20.5229 11.462 20.5229 10.7837 19.8672L7.52832 16.7202C5.43311 14.6947 4.25 11.9054 4.25 8.99125V7.34736C4.25 6.44446 4.93693 5.68977 5.83585 5.60508L6.16113 5.57443C7.54235 5.4443 8.87661 5.00515 10.0651 4.2895L10.5814 3.97861Z' fill='white')
                            .program-header-info-text Сложность средняя
                        .program-header-info-c
                            .program-header-info-ico
                                svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M12.6448 5.26362C12.2481 5.02476 11.7519 5.02476 11.3552 5.26362L10.8389 5.57452C9.45765 6.40622 7.90703 6.91659 6.30183 7.06782L5.97655 7.09847C5.84813 7.11057 5.75 7.21838 5.75 7.34736V8.99125C5.75 11.4988 6.76803 13.8989 8.57088 15.6417L11.8262 18.7887C11.9231 18.8824 12.0769 18.8824 12.1738 18.7887L15.4291 15.6417C17.232 13.8989 18.25 11.4988 18.25 8.99125V7.34736C18.25 7.21838 18.1519 7.11057 18.0235 7.09847L17.6982 7.06782C16.093 6.91659 14.5423 6.40622 13.1611 5.57452L12.6448 5.26362ZM10.5814 3.97861C11.4541 3.4531 12.5459 3.45309 13.4186 3.9786L13.9349 4.2895C15.1234 5.00515 16.4576 5.4443 17.8389 5.57443L18.1641 5.60508C19.0631 5.68977 19.75 6.44446 19.75 7.34736V8.99125C19.75 11.9054 18.5669 14.6947 16.4717 16.7202L13.2163 19.8672C12.538 20.5229 11.462 20.5229 10.7837 19.8672L7.52832 16.7202C5.43311 14.6947 4.25 11.9054 4.25 8.99125V7.34736C4.25 6.44446 4.93693 5.68977 5.83585 5.60508L6.16113 5.57443C7.54235 5.4443 8.87661 5.00515 10.0651 4.2895L10.5814 3.97861Z' fill='white')
                            .program-header-info-text Сложность средняя
                        .program-header-info-c
                            .program-header-info-ico
                                svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M12.6448 5.26362C12.2481 5.02476 11.7519 5.02476 11.3552 5.26362L10.8389 5.57452C9.45765 6.40622 7.90703 6.91659 6.30183 7.06782L5.97655 7.09847C5.84813 7.11057 5.75 7.21838 5.75 7.34736V8.99125C5.75 11.4988 6.76803 13.8989 8.57088 15.6417L11.8262 18.7887C11.9231 18.8824 12.0769 18.8824 12.1738 18.7887L15.4291 15.6417C17.232 13.8989 18.25 11.4988 18.25 8.99125V7.34736C18.25 7.21838 18.1519 7.11057 18.0235 7.09847L17.6982 7.06782C16.093 6.91659 14.5423 6.40622 13.1611 5.57452L12.6448 5.26362ZM10.5814 3.97861C11.4541 3.4531 12.5459 3.45309 13.4186 3.9786L13.9349 4.2895C15.1234 5.00515 16.4576 5.4443 17.8389 5.57443L18.1641 5.60508C19.0631 5.68977 19.75 6.44446 19.75 7.34736V8.99125C19.75 11.9054 18.5669 14.6947 16.4717 16.7202L13.2163 19.8672C12.538 20.5229 11.462 20.5229 10.7837 19.8672L7.52832 16.7202C5.43311 14.6947 4.25 11.9054 4.25 8.99125V7.34736C4.25 6.44446 4.93693 5.68977 5.83585 5.60508L6.16113 5.57443C7.54235 5.4443 8.87661 5.00515 10.0651 4.2895L10.5814 3.97861Z' fill='white')
                            .program-header-info-text Сложность средняя




            .program-p.program-p-f Вертолет – это максимально быстрый и комфортный способ передвижения​. За один день можно побывать в разный районах, сделать спуски с многочисленных вершин и перевалов, спуститься к берегу океана или в кратер действующего вулкана.
            .program-p Мы предлагаем принять участие в однодневной программе Хели-ски, во время которой вы сможете совершить до 10 спусков с сопок и вулканов.
            .mp-movies-slide
                .mp-movies-slide-gradient
                    .mp-moviews-slide-tag НОВИНКА
                    .mp-moviews-slide-h Во имя науки. Восхождение на Ичинский вулкан
                    .mp-moviews-slide-p В конце сентября 2020 года команда Kamchatka Freeride Community реализовали проект, идею которого вынашивали больше года. Гид — Женя Лысов прошёл по стропе в кратере действующего вулкана Горелый.
                    a.mp-moviews-slide-a(href="#") ПЕРЕЙТИ К ПРОСМОТРУ
                        img(src="./img/icon/orange-chevron.svg")

            .program-roadmap
                .blueheading Программа
                .program-roadmap-grid
                    .program-roadmap-grid-block.program-roadmap-grid-block-active
                        .program-roadmap-grid-plus
                            svg(width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M9.4998 3.2998C9.4998 3.02366 9.27595 2.7998 8.9998 2.7998C8.72366 2.7998 8.4998 3.02366 8.4998 3.2998V8.4998H3.2998C3.02366 8.4998 2.7998 8.72366 2.7998 8.9998C2.7998 9.27595 3.02366 9.4998 3.2998 9.4998H8.4998V14.6998C8.4998 14.9759 8.72366 15.1998 8.9998 15.1998C9.27595 15.1998 9.4998 14.9759 9.4998 14.6998V9.4998H14.6998C14.9759 9.4998 15.1998 9.27595 15.1998 8.9998C15.1998 8.72366 14.9759 8.4998 14.6998 8.4998H9.4998V3.2998Z' fill='#212946')

                        .program-roadmap-grid-hr
                            .program-roadmap-grid-hr-day День 1
                            .program-roadmap-grid-hr-title Прибытие на Камчатку
                        .program-roadmap-grid-r
                            .program-roadmap-grid-r-border
                                .program-roadmap-grid-r-border-vr
                            .program-roadmap-grid-r-text Вас встретят в аэропорту и отвезут в гостевой дом в Петропавловске-Камчатском. Вы  познакомитесь с гидами, обсудите программу и пообедаете. Затем пройдете инструктаж по лавинной безопасности с практическими занятиями. Вечером вас ждет ужин и отдых в комфортных номерах гостевого дома (или хост отеля).
                    .program-roadmap-grid-block
                        .program-roadmap-grid-plus
                            svg(width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M9.4998 3.2998C9.4998 3.02366 9.27595 2.7998 8.9998 2.7998C8.72366 2.7998 8.4998 3.02366 8.4998 3.2998V8.4998H3.2998C3.02366 8.4998 2.7998 8.72366 2.7998 8.9998C2.7998 9.27595 3.02366 9.4998 3.2998 9.4998H8.4998V14.6998C8.4998 14.9759 8.72366 15.1998 8.9998 15.1998C9.27595 15.1998 9.4998 14.9759 9.4998 14.6998V9.4998H14.6998C14.9759 9.4998 15.1998 9.27595 15.1998 8.9998C15.1998 8.72366 14.9759 8.4998 14.6998 8.4998H9.4998V3.2998Z' fill='#212946')

                        .program-roadmap-grid-hr
                            .program-roadmap-grid-hr-day День 1
                            .program-roadmap-grid-hr-title Прибытие на Камчатку
                        .program-roadmap-grid-r
                            .program-roadmap-grid-r-border
                                .program-roadmap-grid-r-border-vr
                            .program-roadmap-grid-r-text Вас встретят в аэропорту и отвезут в гостевой дом в Петропавловске-Камчатском. Вы  познакомитесь с гидами, обсудите программу и пообедаете. Затем пройдете инструктаж по лавинной безопасности с практическими занятиями. Вечером вас ждет ужин и отдых в комфортных номерах гостевого дома (или хост отеля).
                    .program-roadmap-grid-block
                        .program-roadmap-grid-plus
                            svg(width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M9.4998 3.2998C9.4998 3.02366 9.27595 2.7998 8.9998 2.7998C8.72366 2.7998 8.4998 3.02366 8.4998 3.2998V8.4998H3.2998C3.02366 8.4998 2.7998 8.72366 2.7998 8.9998C2.7998 9.27595 3.02366 9.4998 3.2998 9.4998H8.4998V14.6998C8.4998 14.9759 8.72366 15.1998 8.9998 15.1998C9.27595 15.1998 9.4998 14.9759 9.4998 14.6998V9.4998H14.6998C14.9759 9.4998 15.1998 9.27595 15.1998 8.9998C15.1998 8.72366 14.9759 8.4998 14.6998 8.4998H9.4998V3.2998Z' fill='#212946')

                        .program-roadmap-grid-hr
                            .program-roadmap-grid-hr-day День 1
                            .program-roadmap-grid-hr-title Прибытие на Камчатку
                        .program-roadmap-grid-r
                            .program-roadmap-grid-r-border
                                .program-roadmap-grid-r-border-vr
                            .program-roadmap-grid-r-text Вас встретят в аэропорту и отвезут в гостевой дом в Петропавловске-Камчатском. Вы  познакомитесь с гидами, обсудите программу и пообедаете. Затем пройдете инструктаж по лавинной безопасности с практическими занятиями. Вечером вас ждет ужин и отдых в комфортных номерах гостевого дома (или хост отеля).



            != partial("/_tmp/slider")

            != partial("/_tmp/program-calculator")
            .program-reviews-wrapper
                .mp-reviews.program-reviews
                    .slider-heading
                        .blueheading Отзывы участников наших программ
                        .slider-heading-controls
                            button
                                img(src="./img/icon/slider-control.svg")
                            button
                                img(src="./img/icon/slider-control.svg")

                    .slider-container
                        .mp-reviews-slider-element
                            .mp-reviews-slider-element-c1
                                img(src="./img/photo/review-photo.png")
                                .mp-reviews-slider-element-c1-tags
                                    .mp-reviews-slider-element-c1-tag МОРСКАЯ ПРОГРАММА
                                    .mp-reviews-slider-element-c1-tag БУХТА РУССКАЯ
                            .mp-reviews-slider-element-c2
                                .mp-reviews-slider-element-c2-p Это был лучший трип не только  у меня, но и у многих!
                                .mp-reviews-slider-element-c2-p У кого то он даже поменял взгляды!  У нас был sailing backcountry лагерь  на берегу бухты Русская, что на Камчатке находится. Я думал меня  не удивить, но эти ребята смогли @kamchatka_freeride_community 😎
                                .mp-reviews-slider-element-c2-p Андрей Остроухов
                        .mp-reviews-slider-element
                            .mp-reviews-slider-element-c1
                                img(src="./img/photo/review-photo.png")
                                .mp-reviews-slider-element-c1-tags
                                    .mp-reviews-slider-element-c1-tag МОРСКАЯ ПРОГРАММА
                                    .mp-reviews-slider-element-c1-tag БУХТА РУССКАЯ
                            .mp-reviews-slider-element-c2
                                .mp-reviews-slider-element-c2-p Это был лучший трип не только  у меня, но и у многих!
                                .mp-reviews-slider-element-c2-p У кого то он даже поменял взгляды!  У нас был sailing backcountry лагерь  на берегу бухты Русская, что на Камчатке находится. Я думал меня  не удивить, но эти ребята смогли @kamchatka_freeride_community 😎
                                .mp-reviews-slider-element-c2-p Андрей Остроухов
                        .mp-reviews-slider-element
                            .mp-reviews-slider-element-c1
                                img(src="./img/photo/review-photo.png")
                                .mp-reviews-slider-element-c1-tags
                                    .mp-reviews-slider-element-c1-tag МОРСКАЯ ПРОГРАММА
                                    .mp-reviews-slider-element-c1-tag БУХТА РУССКАЯ
                            .mp-reviews-slider-element-c2
                                .mp-reviews-slider-element-c2-p Это был лучший трип не только  у меня, но и у многих!
                                .mp-reviews-slider-element-c2-p У кого то он даже поменял взгляды!  У нас был sailing backcountry лагерь  на берегу бухты Русская, что на Камчатке находится. Я думал меня  не удивить, но эти ребята смогли @kamchatka_freeride_community 😎
                                .mp-reviews-slider-element-c2-p Андрей Остроухов
                        .mp-reviews-slider-element
                            .mp-reviews-slider-element-c1
                                img(src="./img/photo/review-photo.png")
                                .mp-reviews-slider-element-c1-tags
                                    .mp-reviews-slider-element-c1-tag МОРСКАЯ ПРОГРАММА
                                    .mp-reviews-slider-element-c1-tag БУХТА РУССКАЯ
                            .mp-reviews-slider-element-c2
                                .mp-reviews-slider-element-c2-p Это был лучший трип не только  у меня, но и у многих!
                                .mp-reviews-slider-element-c2-p У кого то он даже поменял взгляды!  У нас был sailing backcountry лагерь  на берегу бухты Русская, что на Камчатке находится. Я думал меня  не удивить, но эти ребята смогли @kamchatka_freeride_community 😎
                                .mp-reviews-slider-element-c2-p Андрей Остроухов



            .program-guide
                .slider-heading
                    .blueheading Гиды по этой программе
                    .slider-heading-controls
                        button
                            img(src="./img/icon/slider-control.svg")
                        button
                            img(src="./img/icon/slider-control.svg")
                .slider-container
                    .program-guide-slider-element
                        img.program-guide-slider-element-photo(src="./img/photo/guide.png")
                        .program-guide-slider-element-guide
                            img(src="./img/photo/review-photo.png").program-guide-slider-element-guide-photo
                            .program-guide-slider-element-guide-info
                                .program-guide-slider-element-guide-info-name Кирилл Киселёв
                                .program-guide-slider-element-guide-info-key.program-guide-slider-element-guide-info-key-exp Опыт катания:
                                .program-guide-slider-element-guide-info-value.program-guide-slider-element-guide-info-value-expv 8 лет
                                .program-guide-slider-element-guide-info-key.program-guide-slider-element-guide-info-key-type Опыт катания:
                                .program-guide-slider-element-guide-info-value.program-guide-slider-element-guide-info-value-typev 8 лет




                    .program-guide-slider-element
                        img.program-guide-slider-element-photo(src="./img/photo/guide.png")
                        .program-guide-slider-element-guide
                            img(src="./img/photo/review-photo.png").program-guide-slider-element-guide-photo
                            .program-guide-slider-element-guide-info
                                .program-guide-slider-element-guide-info-name Кирилл Киселёв
                                .program-guide-slider-element-guide-info-key.program-guide-slider-element-guide-info-key-exp Опыт катания:
                                .program-guide-slider-element-guide-info-value.program-guide-slider-element-guide-info-value-expv 8 лет
                                .program-guide-slider-element-guide-info-key.program-guide-slider-element-guide-info-key-type Опыт катания:
                                .program-guide-slider-element-guide-info-value.program-guide-slider-element-guide-info-value-typev 8 лет
                    .program-guide-slider-element
                        img.program-guide-slider-element-photo(src="./img/photo/guide.png")
                        .program-guide-slider-element-guide
                            img(src="./img/photo/review-photo.png").program-guide-slider-element-guide-photo
                            .program-guide-slider-element-guide-info
                                .program-guide-slider-element-guide-info-name Кирилл Киселёв
                                .program-guide-slider-element-guide-info-key.program-guide-slider-element-guide-info-key-exp Опыт катания:
                                .program-guide-slider-element-guide-info-value.program-guide-slider-element-guide-info-value-expv 8 лет
                                .program-guide-slider-element-guide-info-key.program-guide-slider-element-guide-info-key-type Опыт катания:
                                .program-guide-slider-element-guide-info-value.program-guide-slider-element-guide-info-value-typev 8 лет









            .program-house
                .blueheading Проживание
                .program-house-subtitle 4 дня в гостевом доме Bay House или Granin House
                != partial("/_tmp/slider")
                .program-house-subtitle 3 дня в загородном доме «Идеальный куб»
                != partial("/_tmp/slider")

        .program-sidebar
            .blueheading Обычный Камчатский день
            .program-sidebar-st Фрирайд с забросками 2 в 1: снегоход + вертолёт
            .program-sidebar-wlabel Даты проведения:
            .program-sidebar-select
                .program-sidebar-select-text 21 мар 2021, вс — 28 март 2021, вс
                svg(width='11' height='5' viewBox='0 0 11 5' fill='none' xmlns='http://www.w3.org/2000/svg').program-sidebar-select-ico
                    path(fill-rule='evenodd' clip-rule='evenodd' d='M1.065 0.17428C1.2449 -0.0352253 1.56057 -0.0592286 1.77007 0.120667L5.81157 3.59097L9.85306 0.120667C10.0626 -0.0592286 10.3782 -0.0352253 10.5581 0.17428C10.738 0.383784 10.714 0.699456 10.5045 0.879351L6.1373 4.62935C5.94994 4.79023 5.6732 4.79023 5.48584 4.62935L1.11862 0.879351C0.909111 0.699456 0.885107 0.383784 1.065 0.17428Z' fill='#212946')

            .program-sidebar-c
                .program-sidebar-c-r
                    .program-sidebar-c-r-label Тип размещения:
                    .program-sidebar-select
                        .program-sidebar-select-text 2-х местный
                        svg(width='11' height='5' viewBox='0 0 11 5' fill='none' xmlns='http://www.w3.org/2000/svg').program-sidebar-select-ico
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M1.065 0.17428C1.2449 -0.0352253 1.56057 -0.0592286 1.77007 0.120667L5.81157 3.59097L9.85306 0.120667C10.0626 -0.0592286 10.3782 -0.0352253 10.5581 0.17428C10.738 0.383784 10.714 0.699456 10.5045 0.879351L6.1373 4.62935C5.94994 4.79023 5.6732 4.79023 5.48584 4.62935L1.11862 0.879351C0.909111 0.699456 0.885107 0.383784 1.065 0.17428Z' fill='#212946')

                .program-sidebar-c-r
                    .program-sidebar-c-r-label Количество человек:
                    input.program-sidebar-c-r-input(placeholder="2")

            .program-sidebar-price 680 000 р.
            .program-sidebar-bonus Начислим 5760 бонусов
                svg(width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(fill-rule='evenodd' clip-rule='evenodd' d='M5.5 11C8.53757 11 11 8.53757 11 5.5C11 2.46243 8.53757 0 5.5 0C2.46243 0 0 2.46243 0 5.5C0 8.53757 2.46243 11 5.5 11ZM5.0401 6.23241C4.95271 6.43408 4.90902 6.66936 4.90902 6.93825H5.91735C5.91735 6.66263 5.98121 6.43072 6.10893 6.2425C6.24338 6.05427 6.4484 5.8358 6.72402 5.58708C6.93913 5.39213 7.11054 5.22408 7.23827 5.08291C7.36599 4.94175 7.47354 4.76697 7.56093 4.55858C7.65504 4.34347 7.7021 4.09811 7.7021 3.8225C7.7021 3.26455 7.48699 2.82761 7.05677 2.51166C6.62654 2.189 6.04507 2.02766 5.31235 2.02766C4.73424 2.02766 4.22335 2.12513 3.77968 2.32008C3.34274 2.51502 2.9831 2.794 2.70076 3.157L3.43685 3.68133C3.85363 3.15027 4.45527 2.88475 5.24177 2.88475C5.69215 2.88475 6.04507 2.98558 6.30052 3.18725C6.55596 3.38219 6.68368 3.64436 6.68368 3.97375C6.68368 4.21575 6.61982 4.42413 6.4921 4.59891C6.36438 4.76697 6.16607 4.96863 5.89718 5.20391C5.68207 5.39886 5.50729 5.56691 5.37285 5.70808C5.24513 5.84925 5.13421 6.02402 5.0401 6.23241ZM4.94935 9.04566C5.07707 9.16666 5.23504 9.22716 5.42326 9.22716C5.60477 9.22716 5.75602 9.16666 5.87702 9.04566C6.00474 8.91794 6.0686 8.76333 6.0686 8.58183C6.0686 8.40033 6.0081 8.24908 5.8871 8.12808C5.7661 8.00036 5.61149 7.9365 5.42326 7.9365C5.23504 7.9365 5.07707 8.00036 4.94935 8.12808C4.82835 8.24908 4.76785 8.40033 4.76785 8.58183C4.76785 8.76333 4.82835 8.91794 4.94935 9.04566Z' fill='#BABECA')
            .program-sidebar-info Оплата частями, без процентов. Первый взнос 50 000 р.
            .bluebutton ЗАБРОНИРОВАТЬ



!= partial("/_tmp/footer")