!= partial("/_tmp/navbar")

.rent-item-wrapper
    != partial("/_tmp/path-btn")
    .item-mobilefixed
        .bluebutton ДОБАВИТЬ В КОРЗИНУ
    .wrapper
        .merch-item
            .merch-item-photo-slider
                .merch-item-photo-slider-container
                    img.merch-item-photo-slider-element(src="./img/photo/merch-item.png")
                    img.merch-item-photo-slider-element(src="./img/photo/merch-item.png")
                    img.merch-item-photo-slider-element(src="./img/photo/merch-item.png")

            .merch-item-info
                .merch-item-info-subtitle Футболка
                .merch-item-info-title Родился на Камчатке
                .merch-item-info-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor


                .merch-item-info-price 2 000 р.

                .merch-item-info-delivery Доставка по России: 450 рублей
                    br
                    | Самовывоз: г. Петропавловск-Камчатский, бесплатно или курьером — 200 рублей

                .bluebutton ДОБАВИТЬ В КОРЗИНУ





        .merch-grid-container
            .blueheading Похожие товары

            .merch-grid
                != partial("/_tmp/rent-element")
                != partial("/_tmp/rent-element")

!= partial("/_tmp/footer")