!= partial("/_tmp/navbar")

.rent-wrapper
    != partial("/_tmp/path")
    .wrapper
        .rent-filter
            .rent-filter-select

                .prall-filters-select
                    .prall-filters-select-label Продолжительность:
                    .prall-filters-select-ico
                        svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M7.12044 10.1745C7.30019 9.96491 7.61585 9.94069 7.82548 10.1204L11.8733 13.5914L15.9212 10.1204C16.1308 9.94069 16.4465 9.96491 16.6262 10.1745C16.806 10.3842 16.7818 10.6998 16.5721 10.8796L12.1988 14.6296C12.0115 14.7902 11.7351 14.7902 11.5479 14.6296L7.17454 10.8796C6.96491 10.6998 6.94069 10.3842 7.12044 10.1745Z' fill='#212946')


                .prall-filters-select
                    .prall-filters-select-label Продолжительность:
                    .prall-filters-select-ico
                        svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M7.12044 10.1745C7.30019 9.96491 7.61585 9.94069 7.82548 10.1204L11.8733 13.5914L15.9212 10.1204C16.1308 9.94069 16.4465 9.96491 16.6262 10.1745C16.806 10.3842 16.7818 10.6998 16.5721 10.8796L12.1988 14.6296C12.0115 14.7902 11.7351 14.7902 11.5479 14.6296L7.17454 10.8796C6.96491 10.6998 6.94069 10.3842 7.12044 10.1745Z' fill='#212946')

            .rent-filter-sort
                svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M13.4242 7.96288C13.6888 8.22743 14.1177 8.22743 14.3822 7.96288L15.0323 7.31285L15.0323 16.5161C15.0323 16.8903 15.3355 17.1935 15.7097 17.1935C16.0838 17.1935 16.3871 16.8903 16.3871 16.5161L16.3871 7.31285L17.0371 7.96288C17.3017 8.22743 17.7306 8.22743 17.9951 7.96288C18.2597 7.69833 18.2597 7.26941 17.9951 7.00486L16.1887 5.19841C15.9241 4.93386 15.4952 4.93386 15.2307 5.19841L13.4242 7.00486C13.1597 7.26941 13.1597 7.69833 13.4242 7.96288Z' fill='#212946')
                    path(d='M9.16129 16.6871L9.81132 16.0371C10.0759 15.7726 10.5048 15.7726 10.7693 16.0371C11.0339 16.3017 11.0339 16.7306 10.7693 16.9951L8.96288 18.8016C8.69833 19.0661 8.26941 19.0661 8.00486 18.8016L6.19841 16.9951C5.93386 16.7306 5.93386 16.3017 6.19841 16.0371C6.46296 15.7726 6.89188 15.7726 7.15643 16.0371L7.80645 16.6871L7.80645 7.48387C7.80645 7.10974 8.10974 6.80645 8.48387 6.80645C8.858 6.80645 9.16129 7.10974 9.16129 7.48387L9.16129 16.6871Z' fill='#212946')

        .rent-grid
            != partial("/_tmp/rent")
            != partial("/_tmp/rent")
            != partial("/_tmp/rent")
            != partial("/_tmp/rent")
            != partial("/_tmp/rent")
            != partial("/_tmp/rent")



!= partial("/_tmp/footer")