!= partial("/_tmp/navbar")

!= partial("/_tmp/path")
.residence-wrapper
    != partial("/_tmp/house")

    .wrapper
        .residence-features
            .blueheading Заголовок
            .residence-features-element
                .residence-features-element-info
                    .residence-features-element-info-title Сауна с видом  на Авачинскую бухту
                    .residence-features-element-info-subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .residence-features-element-info-price 1500 р. \ 1 час
                    .residence-features-element-info-button ЗАБРОНИРОВАТЬ
                .residence-features-element-slider
                    != partial("/_tmp/slider")
            .residence-features-element
                .residence-features-element-info
                    .residence-features-element-info-title Сауна с видом  на Авачинскую бухту
                    .residence-features-element-info-subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .residence-features-element-info-price 1500 р. \ 1 час
                    .residence-features-element-info-button ЗАБРОНИРОВАТЬ
                .residence-features-element-slider
                    != partial("/_tmp/slider")


!= partial("/_tmp/footer")