!= partial("/_tmp/navbar")

!= partial("/_tmp/path")

.wrapper
    .services-grid
        .services-grid-element
            .services-grid-element-filter
                .services-grid-element-text Индивидуальные программы
        .services-grid-element
            .services-grid-element-filter
                .services-grid-element-text Индивидуальные программы
        .services-grid-element
            .services-grid-element-filter
                .services-grid-element-text Индивидуальные программы
        .services-grid-element
            .services-grid-element-filter
                .services-grid-element-text Индивидуальные программы

!= partial("/_tmp/footer")