!= partial("/_tmp/navbar")

!= partial("/_tmp/path")

.wrapper
    .team-heading
        .blueheading Наша команда
        .team-heading-buttons
            a.lk-h-buttons-btn.lk-h-buttons-btn-active(href="#") Все
            a.lk-h-buttons-btn(href="#") Администраторы
            a.lk-h-buttons-btn(href="#") Администраторы
            a.lk-h-buttons-btn(href="#") Администраторы
!= partial("/_tmp/team-member")
!= partial("/_tmp/team-member")


!= partial("/_tmp/footer")