.footer
    .wrapper
        .footer-advantages
            .footer-advantages-element
                img.footer-advantages-element-icon(src="./img/icon/advantages1.svg")
                .footer-advantages-element-text СОБСТВЕННЫЕ ОТЕЛИ
            .footer-advantages-element
                img.footer-advantages-element-icon(src="./img/icon/advantages2.svg")
                .footer-advantages-element-text СОБСТВЕННЫЕ ОТЕЛИ
            .footer-advantages-element
                img.footer-advantages-element-icon(src="./img/icon/advantages3.svg")
                .footer-advantages-element-text РАБОТАЕМ С 2010 ГОДА

        .footer-main
            .footer-main-list
                .footer-main-list-h ПРОГРАММЫ
                a.footer-main-list-p Все программы
                a.footer-main-list-p Последние места
                a.footer-main-list-p Ближайшие программы
            .footer-main-list
                .footer-main-list-h ПРОГРАММЫ
                a.footer-main-list-p Все программы
                a.footer-main-list-p Последние места
                a.footer-main-list-p Ближайшие программы
                a.footer-main-list-p Последние места
                a.footer-main-list-p Ближайшие программы
            .footer-main-list
                .footer-main-list-h ПРОГРАММЫ
                a.footer-main-list-p Все программы
                a.footer-main-list-p Последние места
                a.footer-main-list-p Ближайшие программы
                a.footer-main-list-p Последние места
                a.footer-main-list-p Ближайшие программы
                a.footer-main-list-p Все программы
            .footer-main-list
                .footer-main-list-h ПРОГРАММЫ
                a.footer-main-list-p Все программы
                a.footer-main-list-p Ближайшие программы
                a.footer-main-list-p Последние места
                a.footer-main-list-p Ближайшие программы
            .footer-main-list.footer-main-list-contacts
                .footer-main-list-h Контакты
                a.footer-main-list-p Наш офис
                a.footer-main-list-p 7 924 894 08 34
                .footer-main-list-contacts-el
                    img(src="./img/icon/phone1.svg")
                    img(src="./img/icon/telegram.svg")
            .footer-main-list
                .footer-main-list-h ПРОГРАММЫ
                a.footer-main-list-p Все программы
                a.footer-main-list-p Последние места
            .footer-main-list
                .footer-main-list-h ПРОГРАММЫ
            .footer-main-list.footer-main-list-mail
                .footer-main-list-h Будьте в курсе наших новостей
                .footer-main-list-mail-form
                    input.footer-main-list-mail-form-el(placeholder="Ваш e-mail")
                    button.footer-main-list-mail-form-button ПОДПИСАТЬСЯ
            .footer-main-list.footer-main-list-media
                .footer-main-list-h Мы в социальных сетях
                .footer-main-list-contacts-el
                    img(src="./img/icon/fb.svg")
                    img(src="./img/icon/ig.svg")
                    img(src="./img/icon/vk.svg")
                    img(src="./img/icon/vm.svg")
                    img(src="./img/icon/yt.svg")
            .footer-main-list
                .footer-main-list-bottom © 2010-2021 ООО «СНЕГ»
            .footer-main-list
                .footer-main-list-bottom Политика конфиденциальности
            .footer-main-list
                .footer-main-list-bottom Оферта
            .footer-main-list.footer-main-list-regn
                .footer-main-list-bottom Реестровый номер туроператоров: РТО 021804
