div
    .program-guide-slider-element
        img.program-guide-slider-element-photo(src="./img/photo/guide.png")
        .program-guide-slider-element-guide
            img(src="./img/photo/review-photo.png").program-guide-slider-element-guide-photo
            .program-guide-slider-element-guide-info
                .program-guide-slider-element-guide-info-name Кирилл Киселёв
                .program-guide-slider-element-guide-info-key.program-guide-slider-element-guide-info-key-exp Опыт катания:
                .program-guide-slider-element-guide-info-value.program-guide-slider-element-guide-info-value-expv 8 лет
                .program-guide-slider-element-guide-info-key.program-guide-slider-element-guide-info-key-type Опыт катания:
                .program-guide-slider-element-guide-info-value.program-guide-slider-element-guide-info-value-typev 8 лет