.wrapper
    .house
        .house-h.blueheading Проживание
        .house-grid
            .house-grid-element
                img.house-grid-element-img(src="./img/photo/house-photo.png")
                .house-grid-element-name Bay House
                .house-grid-element-adress
                    .house-grid-element-adress-ico
                        svg(width='17' height='21' viewBox='0 0 17 21' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M3.75329 8.89101C3.75329 6.22538 5.87846 4.06446 8.5 4.06446C11.1215 4.06446 13.2467 6.22538 13.2467 8.89101C13.2467 11.5566 11.1215 13.7176 8.5 13.7176C5.87846 13.7176 3.75329 11.5566 3.75329 8.89101ZM8.5 5.58864C6.70632 5.58864 5.25225 7.06716 5.25225 8.89101C5.25225 10.7149 6.70632 12.1934 8.5 12.1934C10.2937 12.1934 11.7478 10.7149 11.7478 8.89101C11.7478 7.06716 10.2937 5.58864 8.5 5.58864Z' fill='#469EDC')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M0.0302268 7.72944C0.384309 3.36156 3.97398 0 8.28418 0H8.71582C13.026 0 16.6157 3.36156 16.9698 7.72944C17.16 10.0758 16.4472 12.4056 14.9816 14.2282L10.1918 20.1845C9.31741 21.2718 7.68259 21.2718 6.8082 20.1845L2.01845 14.2282C0.552807 12.4056 -0.159981 10.0758 0.0302268 7.72944ZM8.28418 1.52417C4.75409 1.52417 1.81412 4.27732 1.52412 7.85465C1.36582 9.80747 1.95905 11.7465 3.17887 13.2634L7.96861 19.2197C8.24326 19.5612 8.75674 19.5612 9.03139 19.2197L13.8211 13.2634C15.041 11.7465 15.6342 9.80747 15.4759 7.85465C15.1859 4.27732 12.2459 1.52417 8.71582 1.52417H8.28418Z' fill='#469EDC')
                    .house-grid-element-adress-info
                        .house-grid-element-adress-info-p г. Петропавловск-Камчатский,
                        .house-grid-element-adress-info-p ул. Авачинская, д. 15
                .house-grid-element-text.house-grid-element-text-f Гостевой дом расположен на берегу Авачинской бухты, за которой величественно возвышается вершина Вилючинского вулкана.
                .house-grid-element-text Уютные номера, приятная атмосфера, блюда камчатской кухни и сауна с видом на бухту.
                .house-grid-element-seemore ПОДРОБНЕЕ
                    svg(width='7' height='14' viewBox='0 0 7 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M0.864893 13.6162C0.653471 13.4386 0.626083 13.1232 0.803721 12.9117L5.72532 7.05413L0.803721 1.19651C0.626083 0.985084 0.65347 0.669688 0.864892 0.49205C1.07631 0.314412 1.39171 0.3418 1.56935 0.553222L6.7612 6.73248C6.91744 6.91845 6.91744 7.1898 6.7612 7.37577L1.56935 13.555C1.39171 13.7665 1.07631 13.7938 0.864893 13.6162Z' fill='#469EDC')
            .house-grid-element
                img.house-grid-element-img(src="./img/photo/house-photo.png")
                .house-grid-element-name Bay House
                .house-grid-element-adress
                    .house-grid-element-adress-ico
                        svg(width='17' height='21' viewBox='0 0 17 21' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M3.75329 8.89101C3.75329 6.22538 5.87846 4.06446 8.5 4.06446C11.1215 4.06446 13.2467 6.22538 13.2467 8.89101C13.2467 11.5566 11.1215 13.7176 8.5 13.7176C5.87846 13.7176 3.75329 11.5566 3.75329 8.89101ZM8.5 5.58864C6.70632 5.58864 5.25225 7.06716 5.25225 8.89101C5.25225 10.7149 6.70632 12.1934 8.5 12.1934C10.2937 12.1934 11.7478 10.7149 11.7478 8.89101C11.7478 7.06716 10.2937 5.58864 8.5 5.58864Z' fill='#469EDC')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M0.0302268 7.72944C0.384309 3.36156 3.97398 0 8.28418 0H8.71582C13.026 0 16.6157 3.36156 16.9698 7.72944C17.16 10.0758 16.4472 12.4056 14.9816 14.2282L10.1918 20.1845C9.31741 21.2718 7.68259 21.2718 6.8082 20.1845L2.01845 14.2282C0.552807 12.4056 -0.159981 10.0758 0.0302268 7.72944ZM8.28418 1.52417C4.75409 1.52417 1.81412 4.27732 1.52412 7.85465C1.36582 9.80747 1.95905 11.7465 3.17887 13.2634L7.96861 19.2197C8.24326 19.5612 8.75674 19.5612 9.03139 19.2197L13.8211 13.2634C15.041 11.7465 15.6342 9.80747 15.4759 7.85465C15.1859 4.27732 12.2459 1.52417 8.71582 1.52417H8.28418Z' fill='#469EDC')
                    .house-grid-element-adress-info
                        .house-grid-element-adress-info-p г. Петропавловск-Камчатский,
                        .house-grid-element-adress-info-p ул. Авачинская, д. 15
                .house-grid-element-text.house-grid-element-text-f Гостевой дом расположен на берегу Авачинской бухты, за которой величественно возвышается вершина Вилючинского вулкана.
                .house-grid-element-text Уютные номера, приятная атмосфера, блюда камчатской кухни и сауна с видом на бухту.
                .house-grid-element-seemore ПОДРОБНЕЕ
                    svg(width='7' height='14' viewBox='0 0 7 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M0.864893 13.6162C0.653471 13.4386 0.626083 13.1232 0.803721 12.9117L5.72532 7.05413L0.803721 1.19651C0.626083 0.985084 0.65347 0.669688 0.864892 0.49205C1.07631 0.314412 1.39171 0.3418 1.56935 0.553222L6.7612 6.73248C6.91744 6.91845 6.91744 7.1898 6.7612 7.37577L1.56935 13.555C1.39171 13.7665 1.07631 13.7938 0.864893 13.6162Z' fill='#469EDC')