div
    .program-items-element(class=isActive ? "program-items-element-active" : "")
        .program-items-element-title Для байка
            .program-food-container-element-title-plus
                svg(width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(fill-rule='evenodd' clip-rule='evenodd' d='M9.4998 3.2998C9.4998 3.02366 9.27595 2.7998 8.9998 2.7998C8.72366 2.7998 8.4998 3.02366 8.4998 3.2998V8.4998H3.2998C3.02366 8.4998 2.7998 8.72366 2.7998 8.9998C2.7998 9.27595 3.02366 9.4998 3.2998 9.4998H8.4998V14.6998C8.4998 14.9759 8.72366 15.1998 8.9998 15.1998C9.27595 15.1998 9.4998 14.9759 9.4998 14.6998V9.4998H14.6998C14.9759 9.4998 15.1998 9.27595 15.1998 8.9998C15.1998 8.72366 14.9759 8.4998 14.6998 8.4998H9.4998V3.2998Z' fill='#212946')

        .program-items-element-info
            ul.program-items-element-info-list
                li.program-items-element-info-list-li камеру своей размерности (лучше две)
                li.program-items-element-info-list-li латки*клей
                li.program-items-element-info-list-li монтажки
                li.program-items-element-info-list-li выжимка
                li.program-items-element-info-list-li два замочка для своей цепи
                li.program-items-element-info-list-li две пары колодок (даже если стоят абсолютно новые)

            ul.program-items-element-info-list
                li.program-items-element-info-list-li камеру своей размерности (лучше две)
                li.program-items-element-info-list-li латки*клей
                li.program-items-element-info-list-li монтажки
                li.program-items-element-info-list-li выжимка
                li.program-items-element-info-list-li два замочка для своей цепи
                li.program-items-element-info-list-li две пары колодок (даже если стоят абсолютно новые)