.merch-element
    a(href="#")
        img.merch-element-img(src="./img/photo/merch-element.png")
    .merch-element-info
        a(href="#").merch-element-info-type Футболка
        .merch-element-info-r
            a(href="#").merch-element-info-title Родился на Камчатке
            .merch-element-info-price 1200 Р.
