.mp-movies
    .wrapper
        .slider-heading
            .blueheading Наши фильмы о Камчатке
            .slider-heading-controls
                button.slider-heading-controls-prev
                    img(src="./img/icon/slider-control.svg")
                button.slider-heading-controls-next
                    img(src="./img/icon/slider-control.svg")
    .slider-container.mp-movies-slider-container#slider-movies
        div
            .mp-movies-slide
                .mp-movies-slide-gradient
                    .mp-moviews-slide-tag НОВИНКА
                    .mp-moviews-slide-h Во имя науки. Восхождение на Ичинский вулкан
                    .mp-moviews-slide-p В конце сентября 2020 года команда Kamchatka Freeride Community реализовали проект, идею которого вынашивали больше года. Гид — Женя Лысов прошёл по стропе в кратере действующего вулкана Горелый.
                    a.mp-moviews-slide-a(href="#") ПЕРЕЙТИ К ПРОСМОТРУ
                        img(src="./img/icon/orange-chevron.svg")
        div
            .mp-movies-slide
                .mp-movies-slide-gradient
                    .mp-moviews-slide-tag НОВИНКА
                    .mp-moviews-slide-h Во имя науки. Восхождение на Ичинский вулкан
                    .mp-moviews-slide-p В конце сентября 2020 года команда Kamchatka Freeride Community реализовали проект, идею которого вынашивали больше года. Гид — Женя Лысов прошёл по стропе в кратере действующего вулкана Горелый.
                    a.mp-moviews-slide-a(href="#") ПЕРЕЙТИ К ПРОСМОТРУ
                        img(src="./img/icon/orange-chevron.svg")
        div
            .mp-movies-slide
                .mp-movies-slide-gradient
                    .mp-moviews-slide-tag НОВИНКА
                    .mp-moviews-slide-h Во имя науки. Восхождение на Ичинский вулкан
                    .mp-moviews-slide-p В конце сентября 2020 года команда Kamchatka Freeride Community реализовали проект, идею которого вынашивали больше года. Гид — Женя Лысов прошёл по стропе в кратере действующего вулкана Горелый.
                    a.mp-moviews-slide-a(href="#") ПЕРЕЙТИ К ПРОСМОТРУ
                        img(src="./img/icon/orange-chevron.svg")
        div
            .mp-movies-slide
                .mp-movies-slide-gradient
                    .mp-moviews-slide-tag НОВИНКА
                    .mp-moviews-slide-h Во имя науки. Восхождение на Ичинский вулкан
                    .mp-moviews-slide-p В конце сентября 2020 года команда Kamchatka Freeride Community реализовали проект, идею которого вынашивали больше года. Гид — Женя Лысов прошёл по стропе в кратере действующего вулкана Горелый.
                    a.mp-moviews-slide-a(href="#") ПЕРЕЙТИ К ПРОСМОТРУ
                        img(src="./img/icon/orange-chevron.svg")
