li.navbar-r2-main-links-a-menu
    .navbar-r2-main-links-a-menu-list
        a(href="#").navbar-r2-main-links-a-menu-list-h Зимние
        a(href="#").navbar-r2-main-links-a-menu-list-p Фрирайд
        a(href="#").navbar-r2-main-links-a-menu-list-p Обзорные по Камчатке
        a(href="#").navbar-r2-main-links-a-menu-list-p Приключенческие
        a(href="#").navbar-r2-main-links-a-menu-list-p Активные
        a(href="#").navbar-r2-main-links-a-menu-list-p Джип-туры
        a(href="#").navbar-r2-main-links-a-menu-list-p +1
    .navbar-r2-main-links-a-menu-list
        a(href="#").navbar-r2-main-links-a-menu-list-h Зимние
        a(href="#").navbar-r2-main-links-a-menu-list-p Фрирайд
        a(href="#").navbar-r2-main-links-a-menu-list-p Обзорные по Камчатке
        a(href="#").navbar-r2-main-links-a-menu-list-p Приключенческие
        a(href="#").navbar-r2-main-links-a-menu-list-p Активные
        a(href="#").navbar-r2-main-links-a-menu-list-p Джип-туры
        a(href="#").navbar-r2-main-links-a-menu-list-p +1
    .navbar-r2-main-links-a-menu-list
        a(href="#").navbar-r2-main-links-a-menu-list-h
        a(href="#").navbar-r2-main-links-a-menu-list-p Фрирайд
        a(href="#").navbar-r2-main-links-a-menu-list-p Обзорные по Камчатке
