.wrapper
    .path
        a.path-el(href="#") Главная
        .path-s /
        a.path-el(href="#") Зима
        .path-s /
        a.path-el(href="#") Хели-ски
        .path-s /
        a.path-el-last(href="#") Обычный Камчатский день