.program-card(style="background-image: url(\'./../img/photo/program-card.png\')")
    .program-card-gradient
        .program-card-info
            .program-card-info-title Зимние
            .program-card-info-subtitle Многодневные пешеходные путешествия в Налычевскую долину
        a.program-card-seemore(href="#") УЗНАТЬ БОЛЬШЕ
