.program-card
    .program-card-gradient
        .program-card-info
            .program-card-info-title Зимние
            .program-card-info-subtitle Многодневные пешеходные путешествия в Налычевскую долину
        .program-card-seemore УЗНАТЬ БОЛЬШЕ
