.rent-grid-element
    a(href="#")
        img.rent-grid-element-photo(src="./img/photo/rent.png")
    .rent-grid-element-info
        a(href="#").rent-grid-element-info-left
            .rent-grid-element-info-title Rossignol S7  
            .rent-grid-element-info-title-d + крепления
            .rent-grid-element-info-title-d + камус
        .rent-grid-element-info-right от 2 500 р. сутки