.mp-reviews
    .wrapper
        .slider-heading
            .blueheading Отзывы участников наших программ
            .slider-heading-controls
                button
                    img(src="./img/icon/slider-control.svg")
                button
                    img(src="./img/icon/slider-control.svg")

    .slider-container
        .mp-reviews-slider-element
            .mp-reviews-slider-element-c1
                img(src="./img/photo/review-photo.png")
                .mp-reviews-slider-element-c1-tags
                    .mp-reviews-slider-element-c1-tag МОРСКАЯ ПРОГРАММА
                    .mp-reviews-slider-element-c1-tag БУХТА РУССКАЯ
            .mp-reviews-slider-element-c2
                .mp-reviews-slider-element-c2-p Это был лучший трип не только  у меня, но и у многих!
                .mp-reviews-slider-element-c2-p У кого то он даже поменял взгляды!  У нас был sailing backcountry лагерь  на берегу бухты Русская, что на Камчатке находится. Я думал меня  не удивить, но эти ребята смогли @kamchatka_freeride_community 😎
                .mp-reviews-slider-element-c2-p Андрей Остроухов
        .mp-reviews-slider-element
            .mp-reviews-slider-element-c1
                img(src="./img/photo/review-photo.png")
                .mp-reviews-slider-element-c1-tags
                    .mp-reviews-slider-element-c1-tag МОРСКАЯ ПРОГРАММА
                    .mp-reviews-slider-element-c1-tag БУХТА РУССКАЯ
            .mp-reviews-slider-element-c2
                .mp-reviews-slider-element-c2-p Это был лучший трип не только  у меня, но и у многих!
                .mp-reviews-slider-element-c2-p У кого то он даже поменял взгляды!  У нас был sailing backcountry лагерь  на берегу бухты Русская, что на Камчатке находится. Я думал меня  не удивить, но эти ребята смогли @kamchatka_freeride_community 😎
                .mp-reviews-slider-element-c2-p Андрей Остроухов
        .mp-reviews-slider-element
            .mp-reviews-slider-element-c1
                img(src="./img/photo/review-photo.png")
                .mp-reviews-slider-element-c1-tags
                    .mp-reviews-slider-element-c1-tag МОРСКАЯ ПРОГРАММА
                    .mp-reviews-slider-element-c1-tag БУХТА РУССКАЯ
            .mp-reviews-slider-element-c2
                .mp-reviews-slider-element-c2-p Это был лучший трип не только  у меня, но и у многих!
                .mp-reviews-slider-element-c2-p У кого то он даже поменял взгляды!  У нас был sailing backcountry лагерь  на берегу бухты Русская, что на Камчатке находится. Я думал меня  не удивить, но эти ребята смогли @kamchatka_freeride_community 😎
                .mp-reviews-slider-element-c2-p Андрей Остроухов
        .mp-reviews-slider-element
            .mp-reviews-slider-element-c1
                img(src="./img/photo/review-photo.png")
                .mp-reviews-slider-element-c1-tags
                    .mp-reviews-slider-element-c1-tag МОРСКАЯ ПРОГРАММА
                    .mp-reviews-slider-element-c1-tag БУХТА РУССКАЯ
            .mp-reviews-slider-element-c2
                .mp-reviews-slider-element-c2-p Это был лучший трип не только  у меня, но и у многих!
                .mp-reviews-slider-element-c2-p У кого то он даже поменял взгляды!  У нас был sailing backcountry лагерь  на берегу бухты Русская, что на Камчатке находится. Я думал меня  не удивить, но эти ребята смогли @kamchatka_freeride_community 😎
                .mp-reviews-slider-element-c2-p Андрей Остроухов