.mp-reviews
    .wrapper
        .slider-heading
            .blueheading Отзывы участников наших программ
            .slider-heading-controls
                button#reviews-prev
                    img(src="./img/icon/slider-control.svg")
                button#reviews-next
                    img(src="./img/icon/slider-control.svg")

    .slider-container#slider-reviews
        != partial("./review-card")
        != partial("./review-card")
        != partial("./review-card")
        != partial("./review-card")