.program-simprog-element
    .program-simprog-element-photo
        .program-simprog-element-photo-price от 336 000 р.
    .program-simprog-element-title Горы по колено
    .program-simprog-element-subtitle Фрирайд с забросками вертолетом
    .program-simprog-element-info
        .program-simprog-element-info-c
            .program-simprog-element-info-c-key Ближайшая дата:
            .program-simprog-element-info-c-value 28.02.2021
        .program-simprog-element-info-c
            .program-simprog-element-info-c-key Свободных мест:
            .program-simprog-element-info-c-value 3
    a.program-simprog-element-seemore(href="#") ПОДРОБНЕЕ
        svg(width='7' height='14' viewBox='0 0 7 14' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M0.864893 13.6162C0.653471 13.4386 0.626083 13.1232 0.803721 12.9117L5.72532 7.05413L0.803721 1.19651C0.626083 0.985084 0.65347 0.669688 0.864892 0.49205C1.07631 0.314412 1.39171 0.3418 1.56935 0.553222L6.7612 6.73248C6.91744 6.91845 6.91744 7.1898 6.7612 7.37577L1.56935 13.555C1.39171 13.7665 1.07631 13.7938 0.864893 13.6162Z' fill='#FF7B47')
