.pslider-container
    .pslider-slides
        div.pslider-slide
            img(src="./img/photo/slider.png")
        div.pslider-slide
            img(src="./img/photo/slider.png")
        div.pslider-slide
            img(src="./img/photo/slider.png")
        div.pslider-slide
            img(src="./img/photo/slider.png")