.pslider-container
    .pslider-slides(data-center-mode=centerMode ? "true" : "false")
        div.pslider-slide
            img(src="./img/photo/slider.png")
        div.pslider-slide
            img(src="./img/photo/slider.png")
        div.pslider-slide
            img(src="./img/photo/slider.png")
        div.pslider-slide
            img(src="./img/photo/slider.png")