.team-member-card
    .wrapper
        .team-member
            .team-member-info
                .team-member-info-main
                    img.team-member-info-main-photo(src="./img/photo/review-photo.png")
                    .team-member-info-main-name Кирилл Киселёв
                    .team-member-info-main-button.lk-h-buttons-btn ГИДЫ / ИНСТРУКТОРЫ
                    .team-member-info-main-sm
                        a(href="#")
                            svg(width='9' height='15' viewBox='0 0 9 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M3.25976 1.18284C4.01712 0.42548 5.04432 0 6.11538 0H8.19231C8.51093 0 8.76923 0.258297 8.76923 0.576923V3.34615C8.76923 3.66478 8.51093 3.92308 8.19231 3.92308H6.11538C6.08478 3.92308 6.05543 3.93523 6.0338 3.95687C6.01216 3.97851 6 4.00786 6 4.03846V5.53846H8.19231C8.36996 5.53846 8.53771 5.62031 8.64704 5.76034C8.75637 5.90037 8.79509 6.08296 8.752 6.25531L8.0597 9.02454C7.99549 9.28137 7.76473 9.46154 7.5 9.46154H6V14.4231C6 14.7417 5.7417 15 5.42308 15H2.65385C2.33522 15 2.07692 14.7417 2.07692 14.4231V9.46154H0.576923C0.258297 9.46154 0 9.20324 0 8.88461V6.11538C0 5.79676 0.258297 5.53846 0.576923 5.53846H2.07692V4.03846C2.07692 2.96739 2.5024 1.9402 3.25976 1.18284ZM6.11538 1.15385C5.35034 1.15385 4.61662 1.45776 4.07565 1.99873C3.53468 2.5397 3.23077 3.27341 3.23077 4.03846V6.11538C3.23077 6.43401 2.97247 6.69231 2.65385 6.69231H1.15385V8.30769H2.65385C2.97247 8.30769 3.23077 8.56599 3.23077 8.88461V13.8462H4.84615V8.88461C4.84615 8.56599 5.10445 8.30769 5.42308 8.30769H7.04955L7.4534 6.69231H5.42308C5.10445 6.69231 4.84615 6.43401 4.84615 6.11538V4.03846C4.84615 3.70184 4.97988 3.37901 5.2179 3.14098C5.45593 2.90295 5.77876 2.76923 6.11538 2.76923H7.61538V1.15385H6.11538Z' fill='#212946')
                        a(href="#")
                            svg(width='9' height='15' viewBox='0 0 9 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M3.25976 1.18284C4.01712 0.42548 5.04432 0 6.11538 0H8.19231C8.51093 0 8.76923 0.258297 8.76923 0.576923V3.34615C8.76923 3.66478 8.51093 3.92308 8.19231 3.92308H6.11538C6.08478 3.92308 6.05543 3.93523 6.0338 3.95687C6.01216 3.97851 6 4.00786 6 4.03846V5.53846H8.19231C8.36996 5.53846 8.53771 5.62031 8.64704 5.76034C8.75637 5.90037 8.79509 6.08296 8.752 6.25531L8.0597 9.02454C7.99549 9.28137 7.76473 9.46154 7.5 9.46154H6V14.4231C6 14.7417 5.7417 15 5.42308 15H2.65385C2.33522 15 2.07692 14.7417 2.07692 14.4231V9.46154H0.576923C0.258297 9.46154 0 9.20324 0 8.88461V6.11538C0 5.79676 0.258297 5.53846 0.576923 5.53846H2.07692V4.03846C2.07692 2.96739 2.5024 1.9402 3.25976 1.18284ZM6.11538 1.15385C5.35034 1.15385 4.61662 1.45776 4.07565 1.99873C3.53468 2.5397 3.23077 3.27341 3.23077 4.03846V6.11538C3.23077 6.43401 2.97247 6.69231 2.65385 6.69231H1.15385V8.30769H2.65385C2.97247 8.30769 3.23077 8.56599 3.23077 8.88461V13.8462H4.84615V8.88461C4.84615 8.56599 5.10445 8.30769 5.42308 8.30769H7.04955L7.4534 6.69231H5.42308C5.10445 6.69231 4.84615 6.43401 4.84615 6.11538V4.03846C4.84615 3.70184 4.97988 3.37901 5.2179 3.14098C5.45593 2.90295 5.77876 2.76923 6.11538 2.76923H7.61538V1.15385H6.11538Z' fill='#212946')
                .team-member-info-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .team-member-info-slider
                .team-member-info-slider-control
                    .slider-heading-controls
                        button.slider-heading-controls-prev
                            img(src="./img/icon/slider-control.svg")
                        button.slider-heading-controls-next
                            img(src="./img/icon/slider-control.svg")
    .team-member-info-slider-container
        img.team-member-info-slider-container-element(src="./img/photo/team-photo.png")
        img.team-member-info-slider-container-element(src="./img/photo/team-photo.png")
        img.team-member-info-slider-container-element(src="./img/photo/team-photo.png")
        img.team-member-info-slider-container-element(src="./img/photo/team-photo.png")
        img.team-member-info-slider-container-element(src="./img/photo/team-photo.png")
        img.team-member-info-slider-container-element(src="./img/photo/team-photo.png")
        img.team-member-info-slider-container-element(src="./img/photo/team-photo.png")
