.bonus-popup-wrapper
    .bonus-popup-close#bpclose
        svg(width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M9.85445 0.853553C10.0497 0.658291 10.0497 0.341709 9.85445 0.146447C9.65919 -0.0488155 9.34261 -0.0488155 9.14735 0.146447L5.00045 4.29334L0.853553 0.146447C0.658291 -0.0488155 0.341709 -0.0488155 0.146447 0.146447C-0.0488155 0.341709 -0.0488155 0.658291 0.146447 0.853553L4.29334 5.00045L0.146447 9.14735C-0.0488155 9.34261 -0.0488155 9.65919 0.146447 9.85445C0.341709 10.0497 0.658291 10.0497 0.853553 9.85445L5.00045 5.70756L9.14735 9.85445C9.34261 10.0497 9.65919 10.0497 9.85445 9.85445C10.0497 9.65919 10.0497 9.34261 9.85445 9.14735L5.70756 5.00045L9.85445 0.853553Z' fill='white')
    .bonus-popup
        .bonus-popup-title На что можно потратить бонусы
        .bonus-popup-grid
            != partial("./../_tmp/program-card")
            != partial("./../_tmp/program-card")
            != partial("./../_tmp/program-card")
            != partial("./../_tmp/program-card")