.cart-popup2-wrapper
    .cart-popup2
        .cart-popup2-title Введите номер телефона, который привязан к клубу KFC
        .cart-popup2-subtitle Как правило, это ваш номер телефона, который вы указывали при покупке на нашем сайте
        .cart-popup2-form
            .cart-popup2-form-element
                .cart-popup2-form-element-label Контактный телефон:
                input.k-input(name="persons" placeholder="+7")
            .cart-popup2-form-element
                .cart-popup2-form-element-label Код подтверждения
                input.k-input(name="persons")
        .cart-popup2-bonus
            .cart-popup2-bonus-num 6 780
            .cart-popup2-bonus-text бонусов
        .cart-popup2-buttons
            .cart-popup2-buttons-b1 ПРОВЕРИТЬ БАЛАНС
            .cart-popup2-buttons-b2 НА ЧТО ПОТРАТИТЬ БОНУСЫ

