.wrapper
    .reservation
        .reservation-title Заполните информацию  о необходимом оборудовании
        .reservation-form
            .reservation-form-r1
                .reservation-form-r1-c
                    .reservation-form-r1-c-label Даты аренды:
                    input.k-datepicker(name="date" placeholder="Дата")

                .reservation-form-r1-c2
                    .reservation-form-r1-c-label Количество штук:
                    input.k-input(value="2")
            .reservation-form-r2
                .reservation-form-r2-c1
                    input.k-input(placeholder="ИМЯ")
                .reservation-form-r2-c2
                    input.k-input(placeholder="+7")
                    input.k-input(placeholder="E-MAIL")
        .reservation-form-r3
            .reservation-form-r3-r
                input(type="checkbox").k-checkbox
                .reservation-form-r3-r-text
                    | Хочу подписаться на рассылку и получить 1000 бонусов на счет
                    a(href="#").reservation-form-r3-r-q
                        svg(width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M5.5 11C8.53757 11 11 8.53757 11 5.5C11 2.46243 8.53757 0 5.5 0C2.46243 0 0 2.46243 0 5.5C0 8.53757 2.46243 11 5.5 11ZM5.0401 6.23241C4.95271 6.43408 4.90902 6.66936 4.90902 6.93825H5.91735C5.91735 6.66263 5.98121 6.43072 6.10893 6.2425C6.24338 6.05427 6.4484 5.8358 6.72402 5.58708C6.93913 5.39213 7.11054 5.22408 7.23827 5.08291C7.36599 4.94175 7.47354 4.76697 7.56093 4.55858C7.65504 4.34347 7.7021 4.09811 7.7021 3.8225C7.7021 3.26455 7.48699 2.82761 7.05677 2.51166C6.62654 2.189 6.04507 2.02766 5.31235 2.02766C4.73424 2.02766 4.22335 2.12513 3.77968 2.32008C3.34274 2.51502 2.9831 2.794 2.70076 3.157L3.43685 3.68133C3.85363 3.15027 4.45527 2.88475 5.24177 2.88475C5.69215 2.88475 6.04507 2.98558 6.30052 3.18725C6.55596 3.38219 6.68368 3.64436 6.68368 3.97375C6.68368 4.21575 6.61982 4.42413 6.4921 4.59891C6.36438 4.76697 6.16607 4.96863 5.89718 5.20391C5.68207 5.39886 5.50729 5.56691 5.37285 5.70808C5.24513 5.84925 5.13421 6.02402 5.0401 6.23241ZM4.94935 9.04566C5.07707 9.16666 5.23504 9.22716 5.42326 9.22716C5.60477 9.22716 5.75602 9.16666 5.87702 9.04566C6.00474 8.91794 6.0686 8.76333 6.0686 8.58183C6.0686 8.40033 6.0081 8.24908 5.8871 8.12808C5.7661 8.00036 5.61149 7.9365 5.42326 7.9365C5.23504 7.9365 5.07707 8.00036 4.94935 8.12808C4.82835 8.24908 4.76785 8.40033 4.76785 8.58183C4.76785 8.76333 4.82835 8.91794 4.94935 9.04566Z' fill='#BABECA')

        .reservation-form-r3-r
            input(type="checkbox").k-checkbox
            .reservation-form-r3-r-text
                | Ознакомился с
                a(href="#").reservation-form-r3-r-a политикой конфиденциальности
                | и согласен на обработку персональных данных
        button.bluebutton ОТПРАВИТЬ