.sms-code
    .sms-code-title Войти или создать профиль
    .sms-code-label Контактный телефон:
    input.k-input( value="+7")
    input.k-input( )
    .sms-code-button ПОЛУЧИТЬ КОД
    //.sms-code-button.sms-code-button-disabled ПОЛУЧИТЬ КОД